﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Type";
}

<br /><br />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Job Title 
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small; "></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value: title" />
            </div>
        </div> 

        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Max. 150 characters" data-bind="value: remarks"></textarea>
            </div>
        </div>    
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Assigned Under </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allActiveParents,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: parentId"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status 
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <br/><br/>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-refresh"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeTypeManage/create.js")"></script>
}