﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Type List";
}

<a class="btn btn-success" href="@Url.Action("Create", "EmployeeTypeManage")">
    <i class="fa fa-plus"></i>
    Create
</a> 

<a class="btn btn-primary pull-right" href="@Url.Action("Create", "EmployeeTypeManage")">
    <i class="fa fa-search"></i>
    Search
</a>

<br/><br/>
<div class="table-responsive">
    <table id="example" class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 6%; text-align: left">SN</th>
                <th style="width: 15%; text-align: center">Employee Type Title</th>
                <th style="width: 20%; text-align: center">Remarks</th> 
                <th style="width: 15%; text-align: center">Assigned Under</th>
                <th style="width: 6%; text-align: center">Status</th>
                <th style="width: 6%; text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: employeeTypes">
            <tr>
                <td style="text-align: left">
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: title"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: parentTypeTitle"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: center">
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>  

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeTypeManage/list.js")"></script>
}