﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Workstation Unit";
}

<h3>Employee Workstation Unit Info</h3>
<hr>

<div class="col-lg-2">

</div>
<div class="col-lg-8">
    <!--box-info start-->
    <div class="box-info">
        <!--form-horizontal row-border start-->
        <form action="#" class="form-horizontal">
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Employee
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employees,
                                                        optionsText: 'name',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Workstation Unit
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: workStationUnits,
                                                        optionsText: 'fullName',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: workStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Employee Type
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employeeTypes,
                                                        optionsText: 'title',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeTypeId"></select>
                </div>
            </div>
            <!--form-group end-->
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Attachment Date
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePicker" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePicker" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!--form-group end-->
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
                </div>
            </div>
            <!--form-group end-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="button" data-bind="click: create">
                            <i class="fa fa-plus"></i>
                            Create
                        </button>
                        <a class="btn btn-info" href="#" data-bind="click: reset">
                            <i class="fa fa-undo"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <!--form-horizontal row-border end-->
    </div>
    <!--box-info end-->
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeWorkStationUnitManage/create.js")"></script>
}
