﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Workstation Unit Log";
}

<h3>Employee Workstation Unit Info</h3>
<hr>

<div class="box-info">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeWorkStationUnitId" />
        <!--box-info start-->
        <div class="box-info">
            <!--form-horizontal row-border start-->
            <form action="#" class="form-horizontal" data-bind="with: employeeWorkStationUnit">
                <!--form-group start-->
                <div class="form-group">
                    <label class="col-sm-3">
                        Employee
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: employeeName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        Workstation Unit
                    </label>
                    <div class="col-sm-6">
                        Company : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: company"></span><br/>
                        Branch : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: branch"></span><br />
                        Department : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: department"></span><br />
                        Workstation Unit : &nbsp;&nbsp;&nbsp;<span data-bind="text: workStationUnit"></span><br />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        Employee Type
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: employeeType"></span>
                    </div>
                </div>
                <!--form-group end-->
                <div class="form-group">
                    <label class="col-sm-3">
                        Attachment Date
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: dateOfCreation"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-3">
                        Detachment Date
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: dateOfClosing"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-3">
                        Remarks
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: remarks"></span>
                    </div>
                </div>
               </form>
            <!--form-horizontal row-border end-->
        </div>
        <!--box-info end-->
    </div>
</div>

<h3>Employee Workstation Unit Log</h3>
<hr />
<div class="box-info">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;  text-align: center; vertical-align: middle">SN</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Employee Name</th>
                    <th style="width: 35%; text-align: center; vertical-align: middle">Workstation Unit</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Employee Type</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Attachment Date</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Detachment Date</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected By</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: employeeWorkStationUnitLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: employeeName"></span>
                    </td>
                    <td style="text-align: left">
                        <span>Company &nbsp;:&nbsp; <span data-bind="text: company"></span></span><br>
                        <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branch"></span></span><br>
                        <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: department"></span></span><br>
                        <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnit"></span></span><br> 
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: employeeType"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: isClosed-->
                        <span class="label label-danger">Closed</span>
                        <!-- /ko -->
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: dateOfCreation"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: dateOfClosing"></span>
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeWorkStationUnitManage/detail.js")"></script>
}
