﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Workstation Unit List";
}

<h2>Available Employee Workstation Units</h2>


<a class="btn btn-success" href="@Url.Action("Create", "EmployeeWorkStationUnitManage")">
    <i class="fa fa-plus"></i>
    Create
</a>

<a class="btn btn-info pull-right" href="@Url.Action("Create", "EmployeeWorkStationUnitManage")">
    <i class="fa fa-search"></i>
    Search
</a>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:4%">SN</th>
                <th style="width: 15%; text-align: center">Employee</th>
                <th style="width: 30%; text-align: center">Workstation Unit</th>
                <th style="width: 10%; text-align: center">Employee Type</th>
                <th style="width: 10%; text-align: center">Attachment Date</th>
                <th style="width: 10%; text-align: center">Detachment Date</th>
                <th style="width: 10%;  text-align: center">Remarks</th>
                <th style="width: 5%;  text-align: center">Status</th>
                <th style="width: 10%; text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: employeeWorkStationUnits">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: employee"></span>
                </td>
                <td style="text-align: left">
                    <span>Company &nbsp;:&nbsp; <span data-bind="text: company"></span></span><br>
                    <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branch"></span></span><br>
                    <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: department"></span></span><br>
                    <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnit"></span></span><br> 
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: employeeType"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfCreation"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfClosing"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td>
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: isClosed-->
                    <span class="label label-danger">Dettached</span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.createSalaryPayment"><i class="fa fa-trash-o"> </i>&nbsp; Create Salary Payment</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeWorkStationUnitManage/list.js")"></script>
}
