﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee Workstation Unit";
}

<h3>Employee Workstation Unit Info</h3>
<hr>

<div class="col-lg-2">

</div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtEmployeeWorkStationUnitId" />
    <!--box-info start-->
    <div class="box-info">
        <!--form-horizontal row-border start-->
        <form action="#" class="form-horizontal">
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3">
                    Employee
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employees,
                                                        optionsText: 'name',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Workstation Unit
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: workStationUnits,
                                                        optionsText: 'fullName',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: workStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Employee Type
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employeeTypes,
                                                        optionsText: 'title',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeTypeId"></select>
                </div>
            </div>
            <!--form-group end-->
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3">
                    Attachment Date
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnDateOfCreation" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePicker" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yyyy)
                            </button>
                            <button id="btnResetDatePicker" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="style: { display: hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3">
                    Detachment Date
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnDateOfClosing" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfClosing" />
                        <span class="input-group-btn">
                            <button id="btnShowClosingDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button id="btnResetClosingDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <a class="btn btn-info" href="#" data-bind="click: removeClosedDateTime">
                                <i class="fa fa-minus"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3">
                    Detachment Date
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <a class="btn btn-success" href="#" data-bind="click: setClosedDateTime">
                            <i class="fa fa-plus"></i>
                            Add
                        </a>
                    </div>
                </div>
            </div>
            <!--form-group end-->
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Max. 150 characters" data-bind="value: remarks"></textarea>
                </div>
            </div>
            <!--form-group end-->
            <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allStatuses,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="button" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </button>
                        <a class="btn btn-info" href="#" data-bind="click: reset">
                            <i class="fa fa-undo"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <!--form-horizontal row-border end-->
    </div>
    <!--box-info end-->
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeWorkStationUnitManage/update.js")"></script>
}
