﻿/*validation error message style*/
.validationMessage {
    color: #b94a48;
}

/*datepicker pointer*/
.datepicker[readonly='readonly'] {
    cursor: pointer;
}


/*user Define*/
.modal-wide95 {
    width: 95%;
    left: 10%;
    margin-left:auto;
    margin-right:auto; 
}

.modal-container {
  max-width: 1100px;
    background-color: white;
}

/*.nomargin {
    margin: 0
}*/ 

/*select.entityStatus option[value="Active"] { background-color: green }
select.entityStatus option[value="Inactive"] { background-color: yellow }
select.entityStatus option[value="Removed"] { background-color: red }
select.entityStatus option[value="Closed"] { background-color: red }*/