﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Education Create";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Create Education</h3>
<hr />


<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
            </label>
            <div class="col-sm-6">
                <input type="hidden" value="@(Model)" id="txtCandidateId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Title
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="degree name" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Institution
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="institution" data-bind="value: institution" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3">
                From Date
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: fromDate, hasFocus: isFromDateFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showFromDatepicker">
                            <i class="fa fa-calendar">
                                <small style="font-weight: 2px;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetFromDatepicker">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3">
                To Date
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: toDate, hasFocus: isToDateFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showToDatepicker">
                            <i class="fa fa-calendar">
                                <small style="font-weight: 2px;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetToDatepicker">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">
                Major
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="major in subject" data-bind="value: major" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">
                Result
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="result" data-bind="value: result" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateEducation/createForCandidate.js")"></script>
}
