﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Interview Test Candidate Detail";
}

<h3>Interview Test Candidate Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtInterviewTestCandidateId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: interviewTestCandidate">
                <div class="form-group">
                    <label class="col-sm-3 ">Total Marks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:obtainedMarks"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Interview Test Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:interviewTestTitle"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-3 ">Candidate Info</label>
                    <div class="col-sm-6">
                        <span data-bind="text:candidateName"></span>  
                        <span data-bind="text:candidateAddress"></span>
                    </div>
                </div> 
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>   

<h3>Interview Test Candidate Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Total Marks</th>
                        <th style="text-align: center">Interview Test Title</th> 
                        <th style="text-align: center">Candidate Info.</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: obtainedMarks"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: interviewTestTitle"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: candidateName"></span>  
                            <span class="name" data-bind="text: candidateAddress"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/InterviewTestCandidate/detail.js")"></script>
}
