﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Interview for vacancy ";
}

<h3>Interview Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtManpowerVacancyNoticeId" /> 
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Track No </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Track No" data-bind="value: trackNo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Title </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Title" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Duration From Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnFromDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationFromDate" />
                    <span class="input-group-btn">
                        <button id="showFromDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar">dd-mm-yyyy</i>
                        </button>
                        <button id="resetFromDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Duration To Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnToDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationToDate" />
                    <span class="input-group-btn">
                        <button id="showToDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"> dd-mm-yyyy</i>
                        </button>
                        <button id="resetToDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>  

@section scripts{
    <script src="@Url.Content("~/Views/Interview/createForManpowerVacancyNotice.js")"></script>
}