﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Interview Detail";
}

<h3>Interview Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="interviewId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: interview">
                <div class="form-group">
                    <label class="col-sm-3 ">Track No</label>
                    <div class="col-sm-6">
                        <span data-bind="text:trackNo"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:title"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Vacancy Notice Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:manpowerVacancyNoticeTitle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Duration To Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:durationFromDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Duration From Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:durationToDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Remarks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<h3>Interview Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Track No</th>
                        <th style="text-align: center">Title</th>
                        <th style="text-align: center">Manpower Vacancy Notice Title</th>
                        <th style="text-align: center">Duration From Date</th> 
                        <th style="text-align: center">Duration To Date</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: trackNo"></span>
                        </td>  
                        <td>
                            <span class="name" data-bind="text: title"></span>
                        </td>
                        <td>
                            Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="name" data-bind="text: manpowerVacancyNoticeTitle"></span> 
                            Type:&nbsp; <span class="name" data-bind="text: manpowerVacancyNoticeType"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: durationFromDate"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: durationToDate"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/Interview/detail.js")"></script>
}
