﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Interview";
}

<h3>Interview Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtInterviewId" />
    <div class="box-info">
        <form id="validation-form" class="form-horizontal" action="#"> 
            <div class="form-group">
                <label class="col-sm-3 control-label">Track No</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-bind="value:trackNo">
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-8">
                    <textarea class="form-control" data-bind="value:title"></textarea>
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3"> ManpowerVacancyNoticeTitle </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allManpowerVacancyNoticeTitle,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: manpowerVacancyNoticeId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Duration From Date </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnDurationFromDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationFromDate" />
                        <span class="input-group-btn">
                            <button id="btnShowDurationFromDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDurationFromDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>   
            <div class="form-group">
                <label class="col-sm-3 control-label">Duration To Date </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnDurationToDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationToDate" />
                        <span class="input-group-btn">
                            <button id="btnShowDurationToDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDurationToDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3 control-label">Remarks</label>
                <div class="col-sm-8">
                    <textarea class="form-control" data-bind="value:remarks"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Status </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <a class="btn btn-success" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </a>
                        <a class="btn btn-info" data-bind="click: reset">
                            <i class="fa fa-undo"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-2"></div>

@section scripts
{
    <script src="@Url.Content("~/Views/Interview/update.js")"></script>
}


