﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Language List";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

@section styles{
    <style>
        .star-rating {
            line-height:32px;
            font-size:1.25em;
            cursor: pointer;
        }
    </style>
}
<h3>Language Details</h3>
<hr />


<a class="btn btn-success" href="#" data-bind="click: create">
    <i class="fa fa-plus"></i>
    Create
</a>

<input type="hidden" value="@(Model)" id="txtCandidateId" />

<div class="box-info" data-bind="foreach: languages">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        @*need to use rating control http://stackoverflow.com/questions/12762995/how-to-use-star-rating-of-font-awesome-with-django*@
        <h3><b><span data-bind="text: languageName"></span></b></h3>
        <b>Reading: &nbsp;</b>
        <span data-bind="text: reading"></span>&nbsp;
        <b>Writing: &nbsp;</b>
        <span data-bind="text: writing"></span>&nbsp;
        <b>Speaking: &nbsp;</b>
        <span data-bind="text: speaking"></span>&nbsp;
        <b>Listening: &nbsp;</b>
        <span data-bind="text: listening"></span>&nbsp;
        <br />
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/CandidateLanguage/listForCandidate.js")"></script>
}
