﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Language Update";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Language Info.</h3>
<hr />


<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
            </label>
            <div class="col-sm-6">
                <input type="hidden" value="@(Model)" id="txtCandidateLanguageId" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">
                Language Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Name" data-bind="value: languageName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Reading
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: effeciencyLeve,
                                                            optionsText: 'text',
                                                            optionsValue: 'text',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: reading"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Writing
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: effeciencyLeve,
                                                            optionsText: 'text',
                                                            optionsValue: 'text',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: writing"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Speaking
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: effeciencyLeve,
                                                            optionsText: 'text',
                                                            optionsValue: 'text',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: speaking"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Listening
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: effeciencyLeve,
                                                            optionsText: 'text',
                                                            optionsValue: 'text',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: listening"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-plus"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateLanguage/update.js")"></script>
}
