﻿
@{
    ViewBag.Title = ViewBag.PageTitle = "Update Manpower Vacancy Notice";
}

<h3>Manpower Vacancy Notice Details</h3>
<hr>

<input type="hidden" value="@(Model)" id="txtNoticeId" />

<div class="col-lg-2"> </div>
<div class="col-lg-8">
    <!--box-info start-->
    <div class="box-info">
        <form action="#" class="form-horizontal row-border">
            <!--form-group start-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Track No.
                </label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" id="trackNo" name="trackNo" class="form-control" data-bind="value: trackNo" readonly="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Type
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value:type">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Title
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value:title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Description
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" data-bind="value: description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    From
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnFromDate" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yy" data-bind="datepicker: dateOfCreation" />
                        <span class="input-group-btn">
                            <button id="btnShowFromDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetFromDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    To
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnToDate" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yy" data-bind="datepicker: dateOfClosing" />
                        <span class="input-group-btn">
                            <button id="btnShowToDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetToDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Manpower Requisition
                </label>
                <div class="col-sm-6">
                    <input class="form-control" readonly="" data-bind="value:requisition">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="button" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </button>
                        <a class="btn btn-info" href="#" data-bind="click: reset">
                            <i class="fa fa-refresh"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/ManpowerVacancyNotice/update.js")"></script>
}
