﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Branch Detail";
}

<h3>Branch Info</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtBranchId" />
        <form id="validate-form" class="form-horizontal" action="#" data-bind="with: branch">
            <div class="form-group">
                <label class="col-sm-3">Name </label>
                <div class="col-sm-6">
                    <span data-bind="text: name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Date Of Creation </label>
                <div class="col-sm-6">
                    <span data-bind="text: dateOfCreation" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Date Of Closing </label>
                <div class="col-sm-6">
                    <span data-bind="text: dateOfClosing" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Address </label>
                <div class="col-sm-6">
                    <span data-bind="text: address" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Remark </label>
                <div class="col-sm-6">
                    <span data-bind="text: remarks" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-2"></div>    
</div>

<h3>Branch Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%; vertical-align: top">SN</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Name</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Date Of Creation</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Date Of Closing</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Address</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                        <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Affected By</th>
                        <th style="width: 10%; text-align: center; vertical-align: top">Affected DateTime</th>
                        <th style="width: 5%; text-align: center; vertical-align: top">Affect Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: name"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfCreation"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfClosing"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: address"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: isClosed-->
                            <span class="label label-danger">Closed</span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>



@section scripts{
    <script src="@Url.Content("~/Views/Branch/detail.js")"></script>
}
