﻿@{
    ViewBag.Title = ViewBag.PageTitle= "Branch List";
}

<a class="btn btn-success" href="@Url.Action("Create", "Branch")">
    <i class="fa fa-plus"></i>
    Create
</a>

<a class="btn btn-primary pull-right" href="@Url.Action("Create", "Branch")">
    <i class="fa fa-search"></i>
    Search
</a>

<br/><br/>
<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 6%; vertical-align: top">SN</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Name</th>
                <th style="width: 28%; text-align: center; vertical-align: top">Address</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Date Of Creation</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Date Of Closing</th>
                <th style="width: 8%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: branches">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td>
                    <span class="name" data-bind="text: name"></span>
                </td>
                <td>
                    <span class="name" data-bind="text: address"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfCreation"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfClosing"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: isClosed-->
                    <span class="label label-danger">Closed</span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    @*<ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>*@
</div>


@section scripts{
    <script src="@Url.Content("~/Views/Branch/list.js")"></script>    
}
