﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Branch";
}

<br/><br/>
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtBranchId" />
    <form id="validate-form" class="form-horizontal" action="#">     
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Name
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value: name" />
            </div>
        </div>  
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Date Of Creation
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnDateOfCreation" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                    <span class="input-group-btn">
                        <button id="btnShowCreationDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yyyy)
                        </button>
                        <button id="btnResetCreationDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div> 
        <div class="form-group" data-bind="style: { display: hasClosingDate() ? 'block' : 'none' }">
            <label class="col-sm-3 control-label">
                Date Of Closing
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnDateOfClosing" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfClosing" />
                    <span class="input-group-btn">
                        <button id="btnShowClosingDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <button id="btnResetClosingDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <a class="btn btn-info" href="#" data-bind="click: removeClosedDateTime">
                            <i class="fa fa-minus"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
            <label class="col-sm-3 control-label">Date Of Closing </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <a class="btn btn-success" href="#" data-bind="click: setClosedDateTime">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Address </label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value: address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Remarks 
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-refresh"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/Branch/update.js")"></script>
}
