﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Candidate";
    Layout = "~/Views/Shared/_LayoutCandidateWithOutLogin.cshtml";
}

<h3>Candidate Basic Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
                First Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="First Name" data-bind="value: firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Last Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Last Name" data-bind="value: lastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Gender
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                @*<input type="text" class="form-control" placeholder="Gender" data-bind="value: gender" />*@
                <select class="form-control" data-bind="options: acceptableGenders,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: gender"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Date Of Birth
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfBirth, hasFocus: isDatepickerFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showDatepicker">
                            <i class="fa fa-calendar">
                                <small style="font-weight: 2px;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetDatepicker">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Email
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="address@gmail.com" data-bind="value: email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Contact Number
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="+10101" data-bind="value: contact" />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateBasic/createBasic.js")"></script>
}
