﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW"> 

        <link href="@Url.Content("~/Assets/bs3/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/css/style-responsive.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/css/atom-style.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/css/font-awesome.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/plugins/kalendar/kalendar.css")" rel="stylesheet">
        <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/plugins/scroll/nanoscroller.css")" rel="stylesheet">
        <link href="@Url.Content("~/Assets/bs3/css/datepicker.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/css/toastr.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/css/hrm.css")" rel="stylesheet">         
        <link href="@Url.Content("~/Assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.css")" rel="stylesheet" />

       @RenderSection("styles", false)
    </head>


    <body class="atm-spmenu-push">

        @RenderSection("modals", false)
                                            

        <!--layout-container start-->
        <div id="layout-container">
            <!--Left navbar start-->
            <div id="nav">
                <!--logo start-->
                <div class="profile">
                    <div class="logo">
                        <a href="#">
                            <img src="~/Assets/images/logo.png" alt="" />
                        </a>
                    </div>
                </div><!--logo end-->
                <!--navigation start-->
                <ul class="navigation">
                    <li class="sub" title="Dashboard">
                        <a href="/Dashboard"><i class="fa fa-home"></i><span>Home</span></a>
                    </li>
                    <li class="sub" title="Office Setup">
                        <a href="#"><i class="fa fa-wrench"></i><span>Office Setup</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "Branch")"><i class="fa fa-plus-square"></i><span>Branch</span></a></li>
                            <li><a href="@Url.Action("Index", "DepartmentManage")"><i class="fa fa-pencil-square-o"></i><span>Department</span></a></li>
                            <li><a href="@Url.Action("Index", "CompanyManage")"><i class="fa fa-plus"></i><span>Company</span></a></li>
                            <li><a href="@Url.Action("Index", "WorkStationUnitManage")"><i class="fa fa-pencil"></i><span>Work Station</span></a></li>
                        </ul>
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa-user"></i><span>Employee</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "EmployeeTypeManage")" title="Basic employee type"><i class="fa fa-bars"></i><span>Type</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeManage")" title="All employee information"><i class="fa fa-android"></i><span>Employee</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeWorkStationUnitManage")" title="Employee work station"><i class="fa fa-cog"></i><span>Work Station</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeReporting")" title="Employee reporting chain"><i class="fa fa-sitemap"></i><span>Reporting</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeePayrollInfo")" title="Employee reporting chain"><i class="fa fa-sitemap"></i><span>Payroll</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeTransfer")"><i class="fa fa-mail-forward"></i><span>Transfer</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeePromotion")"><i class="fa fa-mail-forward"></i><span>Promotion</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeDiscipline")"><i class="fa fa-mail-forward"></i><span>Discipline</span></a></li>
                        </ul>
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa-usd"></i><span>Salary</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "SalaryStructureManage")" title="Basic salary structure"><i class="fa fa-clipboard"></i><span>Structures</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeSalaryStructureManage")" title="Salary structure for specific employee"><i class="fa fa-th-large"></i><span>Salary Structure</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeSalaryPayment")" title="Monthly salary payment"><i class="fa fa-credit-card"></i><span>Salary Payment</span></a></li>
                            <li><a href="@Url.Action("Index", "AllowanceType")" title="Basic allowance type"><i class="fa fa-list-ol"></i><span>Allowance Type</span></a></li>
                            <li><a href="@Url.Action("Index", "Allowance")"><i class="fa fa-list-alt"></i><span>Allowanc</span></a></li>
                            <li><a href="@Url.Action("Index", "BonusType")" title="Basic bonus type"><i class="fa fa-file-text"></i><span>Bonus Type</span></a></li>
                            <li><a href="@Url.Action("Index", "Bonus")"><i class="fa fa-gbp"></i><span>Bonus</span></a></li>
                            <li><a href="@Url.Action("Index", "BonusPaymentDate")"><i class="fa fa-calendar"></i><span>Bonus Payment Date</span></a></li>
                        </ul>
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa fa-pencil-square-o"></i><span>Training</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "EmployeeTrainingManage")" title="All training information"><i class="fa fa-crop"></i><span>All Training</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeTrainingBudgetManage")"><i class="fa fa-money"></i><span>Training Budget</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeAttachedTrainingManage")" title="Employees atteched to training"><i class="fa fa-tags"></i><span>Attached Employee</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeTrainingAttachmentManage")" title="Training related documents"><i class="fa fa-paperclip"></i><span>Training Attachment</span></a></li>
                        </ul>
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa-magic"></i><span>Performance</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "AppraisalIndicator")"><i class="fa fa-key"></i><span>Appraisal Indicator</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeAppraisalManage")"><i class="fa fa-compass"></i><span>Appraisals</span></a></li>
                            <li><a href="@Url.Action("Index", "EmployeeAssignedAppraisalManage")" title="Appraisal assign to employees"><i class="fa fa-book"></i><span>Assigned Appraisal</span></a></li>
                        </ul>
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa-male"></i><span>Recruitment</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "ManpowerRequisition")"><i class="fa fa-align-left"></i><span>Requisition</span></a></li>
                            <li><a href="@Url.Action("Index", "ManpowerVacancyNotice")"><i class="fa fa-thumb-tack"></i><span>Vacancies</span></a></li>
                            <li><a href="@Url.Action("Index", "ManpowerVacancyNoticeCandidate")"><i class="fa fa-users"></i><span>Notice Candidate</span></a></li>
                            <li><a href="@Url.Action("Index", "ManpowerCandidateReference")"><i class="fa fa-file-text"></i><span>Candidate Reference</span></a></li>
                            <li class="sub-menu">
                                <a href="#"><i class="fa fa-cog"></i><span>Configuration</span><i class="fa fa-hand-o-right" style="float: right"></i></a>
                                <ul class="navigation-sub-sub">
                                    <li><a href="@Url.Action("Index", "InterviewCoordinator")"><i class="fa fa-user"></i><span>Coordinator</span></a></li>
                                    <li><a href="@Url.Action("Index", "Interview")"><i class="fa fa-stack-exchange"></i><span>Interviews</span></a></li>
                                    <li><a href="@Url.Action("Index", "InterviewTest")"><i class="fa fa-comments-o"></i><span>Interview Test</span></a></li>
                                    <li><a href="@Url.Action("Index", "InterviewCandidate")"><i class="fa fa-columns"></i><span>Candidate Test</span></a></li>
                                    <li><a href="@Url.Action("Index", "InterviewTestCandidate")"><i class="fa fa-th-list"></i><span>Candidate Marks</span></a></li>
                                </ul>
                            </li>
                        </ul><!--navigation end-->
                    </li>
                    <li class="sub">
                        <a href="#"><i class="fa fa-list"></i><span>Attendance</span></a>
                        <ul class="navigation-sub">
                            <li><a href="@Url.Action("Index", "EmployeeAttendance")"><i class="fa fa-key"></i><span>Attendance</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--Left navbar end-->
            <!--main start-->
            <div id="main">
                <!--head-title start-->
                <div class="head-title">
                    <div class="menu-switch"><i class="fa fa-bars"></i></div>
                    <!--row start-->
                    <div class="row">
                        <!--col-md-12 start-->
                        <div class="col-md-12">
                            <div class="pull-left" style="margin-left: 450px">
                            </div>
                            <!--profile dropdown start-->
                            <ul class="user-info pull-right fadeInLeftBig animated">
                                <li class="hidden-xs">
                                    <input type="text" placeholder=" Search" class="form-control page-search">
                                </li>
                                <li class="profile-info dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <img class="img-circle" alt="" src="~/Assets/images/avatar.jpg">Scott henderson
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="caret"></li>
                                        <li> <a href="#"> <i class="fa fa-user"></i> Edit Profile </a> </li>
                                        <li> <a href="#"> <i class="fa fa-inbox"></i> Inbox </a> </li>
                                        <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
                                        <li> <a href="@Url.Action("LogOut", "EmployeeLogin")"> <i class="fa fa-clipboard"></i> Log Out </a> </li>
                                    </ul>
                                </li>
                                <li class="hidden-xs"><a class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch" href="javascript:;"><i class="fa fa-bars"></i></a></li>
                            </ul><!--profile dropdown end-->
                            <!--top nav start-->
                            <ul class="nav top-menu hidden-xs notify-row fadeInRightBig animated"></ul><!--top nav end-->
                        </div><!--col-md-12 end-->
                    </div><!--row end-->
                </div><!--head-title end-->
                <!--margin-container start-->

                <div class="margin-container">
                    <!--scrollable wrapper start-->
                    <div class="scrollable wrapper" >
                        <!--row start-->
                        <div class="row">
                            <!--col-md-12 start-->
                            <div class="col-md-12">
                                <div class="page-heading">
                                    <h1>
                                        <b>@ViewBag.PageTitle</b>
                                        <small>@ViewBag.PageTitleComment</small>
                                    </h1>

                                </div>
                            </div><!--col-md-12 start-->
                        </div><!--row end-->
                        <!--row start-->
                        <div class="row">
                            <!--col-md-12 start-->
                            <div class="col-md-12">
                                <div class="box-info" style="height: 1000px">
                                    @RenderBody()
                                    <div style="height: 30px;"></div>
                                </div>
                            </div><!--col-md-12 end-->
                        </div><!--row end-->
                    </div><!--scrollable wrapper end-->
                </div><!--margin-container end-->
            </div><!--main end-->
            <!-- sidebar chats -->
            <nav class="atm-spmenu atm-spmenu-vertical atm-spmenu-right side-chat">
                <div class="header">
                    <input class="form-control chat-search" type="text" placeholder=" Search">
                </div>
                <div class="sub-header" href="#">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <p>Online (4)</p>
                </div>
                <div class="content">
                    <p class="title">Family</p>
                    <ul class="nav nav-pills nav-stacked contacts">
                        <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Steven Smith</a></li>
                        <li class="online"><a href="#"><i class="fa fa-circle-o"></i> John Doe</a></li>
                        <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Michael Smith</a></li>
                        <li class="busy"><a href="#"><i class="fa fa-circle-o"></i> Chris Rogers</a></li>
                    </ul>

                    <p class="title">Friends</p>
                    <ul class="nav nav-pills nav-stacked contacts">
                        <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Vernon Philander</a></li>
                        <li class="outside"><a href="#"><i class="fa fa-circle-o"></i> Kyle Abbott</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Dean Elgar</a></li>
                    </ul>

                    <p class="title">Work</p>
                    <ul class="nav nav-pills nav-stacked contacts">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Dale Steyn</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Morne Morkel</a></li>
                    </ul>
                </div>
                <div id="chat-box">
                    <div class="header">
                        <span>Richard Avedon</span>
                        <a class="close"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="messages nano nscroller has-scrollbar">
                        <div class="content" tabindex="0" style="right: -17px;">
                            <ul class="conversation">
                                <li class="odd">
                                    <p>Hi John, how are you?</p>
                                </li>
                                <li class="text-right">
                                    <p>Hello I am also fine</p>
                                </li>
                                <li class="odd">
                                    <p>Tell me what about you?</p>
                                </li>
                                <li class="text-right">
                                    <p>Sorry, I'm late... see you</p>
                                </li>
                                <li class="odd unread">
                                    <p>OK, call me later...</p>
                                </li>
                            </ul>
                        </div>
                        <div class="pane" style="display: none;"><div class="slider" style="height: 20px; top: 0px;"></div></div>
                    </div>
                    <div class="chat-input">
                        <div class="input-group">
                            <input type="text" placeholder="Enter a message..." class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- /sidebar chats -->
        </div><!--layout-container end-->

        <!-- custom & application specific -->
        <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        <script src="@Url.Content("~/Assets/bs3/js/bootstrap-datepicker.js")"></script>
        <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
        <script src="@Url.Content("~/Scripts/toastr.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>

        <script src="@Url.Content("~/Assets/js/jPushMenu.js")"></script>
        <script src="@Url.Content("~/Assets/js/side-chats.js")"></script>

        <script src="@Url.Content("~/Scripts/json2.js")"></script>
        <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
        <script src="@Url.Content("~/Scripts/Views/Shared/Extensions/ko.debug.helpers.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
        <script src="@Url.Content("~/Scripts/infuser.js")"></script>
        <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
        <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>
        <script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>

        <script src="@Url.Content("~/Scripts/ajax.custom.js")"></script>
        <script src="@Url.Content("~/Scripts/Views/Shared/hrm.js")"></script>
        <script src="@Url.Content("~/Assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.js")"></script>

        @RenderSection("scripts", false)
    </body>
</html>