﻿<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <link href="@Url.Content("~/Assets/bs3/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/bs3/css/datepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/style-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/atom-style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/kalendar/kalendar.css")" rel="stylesheet">
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/scroll/nanoscroller.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/toastr.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/hrm.css")" rel="stylesheet">

    <link href="@Url.Content("~/Assets/plugins/form-wizard/styles/smart_wizard.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
    >
</head>

<body class="atm-spmenu-push">
    <!--layout-container start-->
    <div id="layout-container">
        <!--main start-->
        <div id="main">
            <!--margin-container start-->
            <div class="margin-container">
                <!--scrollable wrapper start-->
                <div class="scrollable wrapper" style="margin-top: 0px">
                    <!--row start-->
                    <div class="row">
                        <!--col-md-12 start-->
                        <div class="col-md-12">
                            <div class="page-heading">
                                <h1>
                                    <b>@ViewBag.PageTitle</b>
                                    <small>@ViewBag.PageTitleComment</small>
                                </h1>

                            </div>
                        </div><!--col-md-12 start-->
                    </div><!--row end-->
                    <!--row start-->
                    <div class="row">
                        <!--col-md-12 start-->
                        <div class="col-md-12">
                            <div class="box-info">
                                @RenderBody()
                                <div style="height: 30px;"></div>
                            </div>
                        </div><!--col-md-12 end-->
                    </div><!--row end-->
                </div><!--scrollable wrapper end-->
            </div><!--margin-container end-->
        </div><!--main end-->
    </div><!--layout-container end-->


    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Assets/bs3/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>

    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
    <script src="@Url.Content("~/Scripts/infuser.js")"></script>
    <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
    <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>

    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>

    <script src="@Url.Content("~/Assets/js/smooth-sliding-menu.js")"></script>
    <script src="@Url.Content("~/Assets/js/jPushMenu.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/form-wizard/js/jquery.smartWizard-2.0.js")"></script>

    <script src="@Url.Content("~/Scripts/ajax.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/hrm.js")"></script>
    @RenderSection("scripts", required: false)
</body>

</html>