﻿@using HRM.Web.Models
@{
    if (HttpContext.Current.Session["CandidateLogin"] == null)
    {
        return;
    }
    CandidateLoginSession candidate = (CandidateLoginSession)HttpContext.Current.Session["CandidateLogin"];
}
<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <link href="@Url.Content("~/Assets/bs3/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/bs3/css/datepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/style-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/atom-style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/kalendar/kalendar.css")" rel="stylesheet">
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/scroll/nanoscroller.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/toastr.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/hrm.css")" rel="stylesheet">

    <link href="@Url.Content("~/Assets/plugins/form-wizard/styles/smart_wizard.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
    >
</head>

<body class="atm-spmenu-push">
    <!--layout-container start-->
    <div id="layout-container">
        <!--Left navbar start-->
        <div id="nav">
            <!--logo start-->
            <div class="profile">
                <div class="logo">
                    <a href="#">
                        <img src="~/Assets/images/logo.png" alt="" />
                    </a>
                </div>
            </div><!--logo end-->
            <!--navigation start-->
            <ul class="navigation">
                <li><a href="@Url.Action("Index", "CandidateDashboard")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                <li class="sub">
                    <a href="#"><i class="fa fa-list-alt"></i><span>CV</span></a>
                    <ul class="navigation-sub">
                        <li><a href="@Url.Action("Update", "Candidate")"><i class="fa fa-folder"></i><span>Info</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateEducation")"><i class="fa fa-pencil-square-o"></i><span>Education</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateEmployment")"><i class="fa fa-tasks"></i><span>Employment</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateTraining")"><i class="fa fa-plane"></i><span>Training</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateSkill")"><i class="fa fa-star-o"></i><span>Skill</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateLanguage")"><i class="fa fa-rss"></i><span>Language</span></a></li>
                        <li><a href="@Url.Action("Index", "CandidateReference")"><i class="fa fa-file-text"></i><span>Reference</span></a></li>
                    </ul>
                </li>
                <li class="sub">
                    <a href="@Url.Action("Applications", "CandidateVacancyNoticeApplicatons")"><i class="fa fa-clipboard"></i><span>Applications</span></a>
                </li>
                <li class="sub">
                    <a href="@Url.Action("Interview", "CandidateInterview")"><i class="fa fa-tags"></i><span>Interviews</span></a>
                </li>
            </ul><!--navigation end-->
        </div><!--Left navbar end-->
        <!--main start-->
        <div id="main">
            <!--head-title start-->
            <div class="head-title">
                <div class="menu-switch"><i class="fa fa-bars"></i></div>
                <!--row start-->
                <div class="row">
                    <!--col-md-12 start-->
                    <div class="col-md-12">
                        <div class="pull-left" style="margin-left: 450px">
                        </div>
                        <!--profile dropdown start-->
                        <ul class="user-info pull-right fadeInLeftBig animated">
                            <li class="profile-info dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <img class="img-circle" alt="" src="~/Assets/images/avatar.jpg">@candidate.CandidateName
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="caret"></li>
                                    <li> <a href="@Url.Action("ResetPasswordForCandidate", "CandidateLogin")"> <i class="fa fa-inbox"></i> Reset Password </a> </li>
                                    <li> <a href="@Url.Action("LogOut", "CandidateLogin")"> <i class="fa fa-clipboard"></i> Log Out </a></li>
                                </ul>
                            </li>
                            <li class="hidden-xs"><a class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch" href="javascript:;"><i class="fa fa-bars"></i></a></li>
                        </ul><!--profile dropdown end-->
                        <!--top nav start-->
                        <ul class="nav top-menu hidden-xs notify-row fadeInRightBig animated"></ul><!--top nav end-->
                    </div><!--col-md-12 end-->
                </div><!--row end-->
            </div><!--head-title end-->
            <!--margin-container start-->

            <div class="margin-container">
                <!--scrollable wrapper start-->
                <div class="scrollable wrapper">
                    <!--row start-->
                    <div class="row">
                        <!--col-md-12 start-->
                        <div class="col-md-12">
                            <div class="page-heading">
                                <h1>
                                    <b>@ViewBag.PageTitle</b>
                                    <small>@ViewBag.PageTitleComment</small>
                                </h1>

                            </div>
                        </div><!--col-md-12 start-->
                    </div><!--row end-->
                    <!--row start-->
                    <div class="row">
                        <!--col-md-12 start-->
                        <div class="col-md-12">
                            <div class="box-info">
                                @RenderBody()
                                <div style="height: 30px;"></div>
                            </div>
                        </div><!--col-md-12 end-->
                    </div><!--row end-->
                </div><!--scrollable wrapper end-->
            </div><!--margin-container end-->
        </div><!--main end-->
        <!-- sidebar chats -->
        <nav class="atm-spmenu atm-spmenu-vertical atm-spmenu-right side-chat">
            <div class="header">
                <input type="text" class="form-control chat-search" placeholder=" Search">
            </div>
            <div href="#" class="sub-header">
                <div class="icon"><i class="fa fa-user"></i></div> <p>Online (4)</p>
            </div>
            <div class="content">
                <p class="title">Family</p>
                <ul class="nav nav-pills nav-stacked contacts">
                    <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Steven Smith</a></li>
                    <li class="online"><a href="#"><i class="fa fa-circle-o"></i> John Doe</a></li>
                    <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Michael Smith</a></li>
                    <li class="busy"><a href="#"><i class="fa fa-circle-o"></i> Chris Rogers</a></li>
                </ul>

                <p class="title">Friends</p>
                <ul class="nav nav-pills nav-stacked contacts">
                    <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Vernon Philander</a></li>
                    <li class="outside"><a href="#"><i class="fa fa-circle-o"></i> Kyle Abbott</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Dean Elgar</a></li>
                </ul>

                <p class="title">Work</p>
                <ul class="nav nav-pills nav-stacked contacts">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Dale Steyn</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Morne Morkel</a></li>
                </ul>

            </div>
            <div id="chat-box">
                <div class="header">
                    <span>Richard Avedon</span>
                    <a class="close"><i class="fa fa-times"></i></a>
                </div>
                <div class="messages nano nscroller has-scrollbar">
                    <div class="content" tabindex="0" style="right: -17px;">
                        <ul class="conversation">
                            <li class="odd">
                                <p>Hi John, how are you?</p>
                            </li>
                            <li class="text-right">
                                <p>Hello I am also fine</p>
                            </li>
                            <li class="odd">
                                <p>Tell me what about you?</p>
                            </li>
                            <li class="text-right">
                                <p>Sorry, I'm late... see you</p>
                            </li>
                            <li class="odd unread">
                                <p>OK, call me later...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pane" style="display: none;"><div class="slider" style="height: 20px; top: 0px;"></div></div>
                </div>
                <div class="chat-input">
                    <div class="input-group">
                        <input type="text" placeholder="Enter a message..." class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /sidebar chats -->
    </div><!--layout-container end-->


    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Assets/bs3/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>

    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
    <script src="@Url.Content("~/Scripts/infuser.js")"></script>
    <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
    <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>

    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>

    <script src="@Url.Content("~/Assets/js/smooth-sliding-menu.js")"></script>
    <script src="@Url.Content("~/Assets/js/jPushMenu.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/form-wizard/js/jquery.smartWizard-2.0.js")"></script>

    <script src="@Url.Content("~/Scripts/ajax.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/hrm.js")"></script>
    @RenderSection("scripts", required: false)
</body>

</html>