﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Assets/bs3/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/style-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/atom-style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/toastr.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/hrm.css")" rel="stylesheet">
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container login-bg">
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>  
    <script src="@Url.Content("~/Scripts/infuser.js")"></script>
    <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
    <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>
    
    <script src="@Url.Content("~/Scripts/ajax.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/hrm.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>