﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Interview Candidate";
}

<h3>Interview Candidate Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">Appointment Date and Time </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnAppointmentDateTime" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: appointmentDateTime" />
                    <span class="input-group-btn">
                        <button id="btnShowAppointmentDateTime" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetAppointmentDateTime" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Attended Date and Time </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnAttendedDateTime" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attendedDateTime" />
                    <span class="input-group-btn">
                        <button id="btnShowAttendedDateTime" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetAttendedDateTime" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Current Salary </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Current Salary" data-bind="value: currentSalary" />
            </div>
        </div><div class="form-group">
                  <label class="col-sm-3 control-label"> Expected Salary </label>
                  <div class="col-sm-8">
                      <input class="form-control" placeholder="Expected Salary" data-bind="value: expectedSalary" />
                  </div>
              </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Proposed Salary </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Proposed Salary" data-bind="value: proposedSalary" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Interview Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allInterviewTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: interviewId"></select>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label"> Candidate </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allCandidateNames,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: candidateId"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/InterviewCandidate/create.js")"></script>
}



