﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Interview Candidate Detail";
}

<h3>Interview Candidate Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtInterviewCandidateId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: interviewCandidate">
                <div class="form-group">
                    <label class="col-sm-4 ">Appointment Date and Time</label>
                    <div class="col-sm-6">
                        <span data-bind="text:appointmentDateTime"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Attended Date and Time</label>
                    <div class="col-sm-6">
                        <span data-bind="text:attendedDateTime"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-4 ">Current Salary</label>
                    <div class="col-sm-6">
                        <span data-bind="text:currentSalary"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Expected Salary</label>
                    <div class="col-sm-6">
                        <span data-bind="text:expectedSalary"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Proposed Salary</label>
                    <div class="col-sm-6">
                        <span data-bind="text:proposedSalary"></span>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-sm-4 ">Interview Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:interviewTitle"></span>
                    </div>
               </div>  
                <div class="form-group">
                    <label class="col-sm-4 ">Candidate Info</label>
                    <div class="col-sm-6">
                        <span class="name" data-bind="text: candidateName"></span>
                        <span class="name" data-bind="text: candidateContactNo"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<h3>Interview Candidate Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Appointment Date and Time</th>
                        <th style="text-align: center">Attended Date and Time</th>  
                        <th style="text-align: center">Current Salary</th>
                        <th style="text-align: center">Expected Salary</th>
                        <th style="text-align: center">Proposed Salary</th>
                        <th style="text-align: center">Interview Title</th>  
                        <th style="text-align: center">Candidate Name</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: appointmentDateTime"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: attendedDateTime"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: currentSalary"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: expectedSalary"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: proposedSalary"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: interviewTitle"></span>
                        </td>  
                        <td>
                            <span class="name" data-bind="text: candidateName"></span>  
                            <span class="name" data-bind="text: candidateContactNo"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/InterviewCandidate/detail.js")"></script>
}
