﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Appraisal Indicator";
}

<h3>Appraisal Indicator Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">Appraisal Indicator Title </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Appraisal Indicator Title" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Weight </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Max Weight" data-bind="value: maxWeight"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Subgroup Of </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allActiveParents,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: parentId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"> Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/AppraisalIndicator/create.js")"></script>
}



