﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Appraisal Indicator Detail";
}

<h3>Appraisal Indicator Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="appraisalIndicatorId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: appraisalIndicator">
                <div class="form-group">
                    <label class="col-sm-3 ">Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:title"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Weight</label>
                    <div class="col-sm-6">
                        <span data-bind="text:maxWeight"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Remarks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Subgroup Of</label>
                    <div class="col-sm-6">
                        <span data-bind="text:parentTitle"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<h3>Employee Type Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Title</th>
                        <th style="text-align: center">Max Weight</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Subgroup Of</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: title"></span>
                        </td> 
                        <td style="text-align: center">
                            <span class="name" data-bind="text: maxWeight"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: parentTitle"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: affectedByName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/AppraisalIndicator/detail.js")"></script>
}


