﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Appraisal Indicator List";
}

<h2>Available Appraisal Indicator List</h2>

<a class="btn btn-success" href="@Url.Action("Create", "AppraisalIndicator")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-info pull-right" href="#">
    <i class="fa fa-search"></i>
    Search
</a>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th style="text-align: center">SN</th>
                <th style="text-align: center">Title</th>
                <th style="text-align: center">Subgroup Of</th>
                <th style="text-align: center">Max Weight</th>
                <th style="text-align: center">Remarks</th>
                <th style="text-align: center">Status</th>
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: appraisalIndicators">
        <tr>
            <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
            <td style="text-align: center" class=" sorting_1">
                <span class="name" data-bind="text: title"></span>
            </td>
            <td style="text-align: center">
                <span class="name" data-bind="text:parentAppraisalIndicatorTitle"></span>
            </td>
            <td style="text-align: center">
                <span class="name" data-bind="text:maxWeight"></span>
            </td>
            <td style="text-align: center">
                <span class="name" data-bind="text: remarks"></span>
            </td>
            <td style="text-align: center">
                <!-- ko if: status == 0 -->
                <span class="label label-success" data-bind="text: statusString"></span>
                <!-- /ko -->
                <!-- ko if: status == 1 -->
                <span class="label label-warning" data-bind="text: statusString"></span>
                <!-- /ko -->
            </td>
            <td style="text-align: left">
                <div class="dropdown">
                    <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                        <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                        <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/AppraisalIndicator/list.js")"></script>
}
