﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<h3>Employee Info</h3>
<hr>

<div class="box-info" style="height: 140px">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeId" />
        <!--box-info start-->
        <div class="box-info">
            <!--form-horizontal row-border start-->
            <form id="validate-form" action="#" class="form-horizontal" data-bind="with: employee">
                <div class="form-group">
                    <label class="col-sm-3">Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text: name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Email</label>
                    <div class="col-sm-6">
                        <span data-bind="text: email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Contact No</label>
                    <div class="col-sm-6">
                        <span data-bind="text: contact" />
                    </div>
                </div>
            </form>
            <!--form-horizontal row-border end-->
        </div>
        <!--box-info end-->
    </div>
</div>

<div class="col-sm-12" style="padding-left: 0">
    <div id="basicStack" style="height: 600px; overflow-y: auto" class="box-info">
        <h3>Employee Additional Log</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%; text-align: center; vertical-align: middle">SN</th>
                        <th style="width: 7%; text-align: center; vertical-align: middle">Father's Name</th>
                        <th style="width: 3%; text-align: center; vertical-align: middle">Mother's Name</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Blood Group</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Image</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Home Phone</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Office Phone</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Permanent Address</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">City</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected By</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected DateTime</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: employeeAddtionalLogs">
                    <tr>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: fathersName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: mothersName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: bloodGroup"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: image"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: homePhone"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: officePhone"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: permanentAddress"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: city"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeManage/additionalDetail.js")"></script>
}
