﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee";
}

<div class="col-lg-9">
    <h3>Additional Info. for <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
    <h3>
        <button id="btnAdditional" class="btn btn-info" data-bind="click: goEducation">
            <i class="fa fa-book"></i>&nbsp;&nbsp; Education Info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
        </button>
    </h3>

</div>
<div class="col-lg-12">
    <hr>
</div>

<input type="hidden" value="@(Model)" id="txtEmployeeId" />

<div class="col-lg-2"> </div>
<div class="col-lg-8">
    <div class="box-info">
        <form class="form-horizontal" action="#" method="POST">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Father's Name
                </label>
                <div class="col-sm-6">
                    <input type="text" id="fathersName" name="fathersName" class="form-control" data-bind="value: fathersName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Mother's Name
                </label>
                <div class="col-sm-6">
                    <input type="text" id="mothersName" name="mothersName" class="form-control" data-bind="value: mothersName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Blood Group
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allBloodGroups,
                                            optionsText: 'name',
                                            optionsValue: 'name',
                                            optionsCaption: '--- Please Select ---',
                                            value: bloodGroup"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="file">
                    Image
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="fileInput" type="file" multiple class="form-control" style="padding-left: 0; padding-top: 0">
                        <span class="input-group-btn">
                            <button type="submit" id="uploadBasicImage" class="btn btn-info">
                                <i class="fa fa-upload"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Home Phone
                </label>
                <div class="col-sm-6">
                    <input type="text" id="homePhone" name="homePhone" class="form-control" data-bind="value: homePhone" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Office Phone
                </label>
                <div class="col-sm-6">
                    <input type="text" id="officePhone" name="officePhone" class="form-control" data-bind="value: officePhone" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Permanent Address
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="permanentAddress" name="permanentAddress" data-bind="value: permanentAddress"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    City
                </label>
                <div class="col-sm-6">
                    <input type="text" id="city" name="city" class="form-control" data-bind="value: city" />
                </div>
            </div>
            <br />
            <div class="form-group" style=" border-width: thick; border-color: black">
                <label class="col-sm-3 control-label">
                </label>
                <div class="col-sm-6">
                    <button class="btn btn-success" type="button" data-bind="click: create">
                        <i class="fa fa-plus"></i>
                        Create
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" type="button" data-bind="click: reset">
                        <i class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeManage/createAdditional.js")"></script>
}