﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee";
}

<h3>Basic Info.</h3>
<hr>

<div class="col-lg-2"> </div>
<div class="col-lg-8">
    <div class="box-info">
        <form class="form-horizontal" action="#" method="POST">
            
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Track No.
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" id="trackNo" name="trackNo" class="form-control" data-bind="value: trackNo" readonly="" />
                        <span class="input-group-btn">
                            <button id="btnGenerate" class="btn btn-success" type="button" data-bind="click: generateCode">
                                <i class="fa fa-plus"></i>
                                Generate
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Salutation
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allSalutations,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: salutation"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    First Name
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Max. 50 characters" data-bind="value: firstName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Last Name
                </label>
                <div class="col-sm-6">
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Max. 50 characters" data-bind="value: lastName" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Date Of Birth
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnDateOfCreation" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfBirth" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePickerCreation" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePickerCreation" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Gender
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allGenders,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: gender"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Email
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Max. 50 characters" data-bind="value: email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Contact No.
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="contact" name="contact" class="form-control" placeholder="Max. 50 digits" data-bind="value: contact" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Mailing Address
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Max. 250 characters" data-bind="value: presentAddress"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Division/State
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allDivisions,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: division"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allEmployeeStatuses,
                                optionsText: 'name',
                                optionsValue: 'name',
                                optionsCaption: '--- Please Select ---',
                                value: statusEmployee"></select>
                </div>
            </div>
            <br/><br/>
            <div class="form-group" style=" border-width: thick; border-color: black">
                <label class="col-sm-3 control-label">
                </label>
                <div class="col-sm-6" style="text-align: right">
                    <button class="btn btn-success" type="button" data-bind="click: create">
                        <i class="fa fa-plus"></i>
                        Create
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" type="button" data-bind="click: reset">
                        <i class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>