﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Log";
}

@section styles
{

}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<h3>Employee Info</h3>
<hr>

<div class="box-info" style="height: 140px">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeId" />
        <!--box-info start-->
        <div class="box-info">
            <!--form-horizontal row-border start-->
            <form id="validate-form" action="#" class="form-horizontal" data-bind="with: employee">
                <div class="form-group">
                    <label class="col-sm-3">Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text: name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Email</label>
                    <div class="col-sm-6">
                        <span data-bind="text: email"></span>
                    </div>
                </div>              
                <div class="form-group">
                    <label class="col-sm-3">Contact No</label>
                    <div class="col-sm-6">
                        <span data-bind="text: contact" />
                    </div>
                </div>
            </form>
            <!--form-horizontal row-border end-->
        </div>
        <!--box-info end-->
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-3">
        <a id="btnShowEducation" class="btn btn-info col-sm-10" data-bind="click: $root.showAdditionalLog" style="padding-left: 0">
            <i class="fa fa-th"></i>
            &nbsp; Additional Log
        </a>
    </div>
    <div class="col-sm-3">
        <a id="btnShowEducation" class="btn btn-info col-sm-10" data-bind="click: $root.showEducationLog" style="padding-left: 0">
            <i class="fa fa-th"></i>
            &nbsp; Education Log
        </a>
    </div>
    <div class="col-sm-3">
        <a id="btnShowEducation" class="btn btn-info col-sm-10" data-bind="click: $root.showAchievementLog" style="padding-left: 0">
            <i class="fa fa-th"></i>
            &nbsp; Achievement Log
        </a>
    </div>
    <div class="col-sm-3">
        <a id="btnShowEducation" class="btn btn-info col-sm-10" data-bind="click: $root.showMembershipLog" style="padding-left: 0">
            <i class="fa fa-th"></i>
            &nbsp; Membership Log
        </a>
    </div>
</div>

<div class="col-sm-12" style="padding-left: 0">
    <br/>
    <div id="basicStack" style="height: 600px; overflow-y: auto" class="box-info">
        <h3>Employee Basic Log</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%;  text-align: center; vertical-align: middle">SN</th>
                        <th style="width: 7%; text-align: center; vertical-align: middle">Track No</th>
                        <th style="width: 3%; text-align: center; vertical-align: middle">Salutation</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">First Name</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Last Name</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Date Of Birth</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Gender</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Email</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Contact</th>
                        <th style="width: 10%; text-align: center; vertical-align: middle">Mailing_Address</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Division/ State</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected By</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected DateTime</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: employeeBasicLogs">
                    <tr>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: trackNo"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: salutation"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: firstName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: lastName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfBirth"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: gender"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: email"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: contact"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: presentAddress"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: division"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeManage/detail.js")"></script>
}
