﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee List";
}

<a class="btn btn-success" href="@Url.Action("CreateBasic", "EmployeeManage")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-primary pull-right" href="@Url.Action("Create", "EmployeeManage")">
    <i class="fa fa-search"></i>
    Search
</a>

<br/><br />

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:5%">SN</th>
                <th style="width: 10%; text-align: center">Track No</th>
                <th style="width: 20%; text-align: center">Name</th>
                <th style="width: 15%; text-align: center">Email</th>
                <th style="width: 13%; text-align: center">Contact No</th>
                <th style="width: 5%;  text-align: center">Status</th>
                <th style="width: 10%; text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: employees">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: trackNo"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: name"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: email"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: contactNo"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeManage/list.js")"></script>
}
