﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee";
}

<div class="col-lg-9">
    <h3>Basic Information of <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
    <h3>
        <button id="btnAdditional" class="btn btn-info" data-bind="click: goAdditional">
            <i class="fa fa-puzzle-piece"></i>&nbsp;&nbsp; Update Additional Info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
        </button>
    </h3>
</div>
<div class="col-lg-12">
    <hr>
</div>

<input type="hidden" value="@(Model)" id="txtEmployeeId" />

<div class="col-lg-2"> </div>
<div class="col-lg-8">
    <div class="box-info">
        <form class="form-horizontal" action="#" method="POST">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Track No.
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" id="trackNo" name="trackNo" class="form-control" data-bind="value: trackNo" readonly="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Salutation
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allSalutations,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: salutation"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    First Name
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="firstName" name="firstName" class="form-control" data-bind="value: firstName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Last Name
                </label>
                <div class="col-sm-6">
                    <input type="text" id="lastName" name="lastName" class="form-control" data-bind="value: lastName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Date Of Birth
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfBirth, hasFocus: isDatepickerFocused" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="button" data-bind="click: showDatepicker">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: resetDatepicker">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Gender
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allGenders,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: gender"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Email
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="email" name="email" class="form-control" data-bind="value: email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Contact No.
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" id="contact" name="contact" class="form-control" data-bind="value: contact" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Mailing Address
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" data-bind="value: presentAddress"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Division/State
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allDivisions,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: division"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allStatuses,
                                optionsText: 'name',
                                optionsValue: 'name',
                                optionsCaption: '--- Please Select ---',
                                value: status"></select>
                </div>
            </div>
            <br />
            <div class="form-group" style=" border-width: thick; border-color: black">
                <label class="col-sm-3 control-label">
                </label>
                <div class="col-sm-6" style="text-align: left">
                    <button class="btn btn-success" type="button" data-bind="click: update">
                        <i class="fa fa-pencil"></i>
                        Update
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" type="button" data-bind="click: reset">
                        <i class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeManage/updateBasic.js")"></script>
}