﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Bonus Type";
}

<h3>Bonus Type Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Bonus Type" data-bind="value:name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Remark </label>
            <div class="col-sm-8">
                <textarea class="form-control" data-bind="value: remarks"></textarea>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/BonusType/create.js")"></script>
}



