﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Job Interviews";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Active Interview List</h3>
<hr />

<input type="hidden" value="@(Model)" id="txtCandidateId" />
<div class="box-info" data-bind="foreach: notices">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <h3><b><span class="name" data-bind="text: title"></span></b></h3>
        <span style="margin-top: 15px;" data-bind="text: description"></span>
        <br />
        Last Date Of apply&nbsp;:&nbsp;<b><span class="name" data-bind="text: durationToDate"></span></b>
        <br/>
        Appointment Date And Time&nbsp;:&nbsp;<b><span class="name" data-bind="text: appointmentDateTime"></span></b>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateInterview/interview.js")"></script>
}