﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Reporting";
}

<br /><br/>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border">
        <div class="form-group">
            <label class="col-sm-3">
                Employee <br />Workstation Unit
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: employeeWorkStationUnits,
                                                        optionsText: 'fullName',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeWorkStationUnitId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Parent <br />Workstation Unit
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: parentWorkStationUnits,
                                                        optionsText: 'fullName',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: parentWorkStationUnitId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Remarks
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Remarks" data-bind="value:remarks"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Attachment Date
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate, hasFocus: isAttachmentDateFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showAttachmentDate">
                            <i class="fa fa-calendar">
                                <small style="font-weight: normal;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetAttachmentDate">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Detachment Date
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: detachmentDate, hasFocus: isDetachmentDateFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showDetachmentDate">
                            <i class="fa fa-calendar">
                                <small style="font-weight: normal;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetDetachmentDate">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: create">
                    <i class="fa fa-plus"></i> Create
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeReporting/create.js")"></script>
}