﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Reporting Log";
}

<input type="hidden" value="@(Model)" id="txtReportingId" />

<br/><br/>
<div class="box-info">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 7%;  text-align: center; vertical-align: top">SN</th>
                    <th style="width: 20%; text-align: center; vertical-align: top">Employee</th>
                    <th style="width: 20%; text-align: center; vertical-align: top">Reported To</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Attachment Date</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Detachment Date</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                    <th style="width: 8%; text-align: center; vertical-align: top">Affected By</th>
                    <th style="width: 13%; text-align: center; vertical-align: top">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: reportingLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: left">
                        Name: <b><span class="name" data-bind="text: employeeName"></span></b><br />
                        Company: <span class="name" data-bind="text: employeeWUC"></span><br />
                        Branch: <span class="name" data-bind="text: employeeWUB"></span><br />
                        Department: <span class="name" data-bind="text: employeeWUD"></span>
                    </td>
                    <td style="text-align: left">
                        <!-- ko if: reportedName === null -->
                        <span class="name" data-bind="text: reportedName"></span><br />
                        <!-- /ko -->
                        <!-- ko if: reportedName != null -->
                        Name: <b><span class="name" data-bind="text: reportedName"></span></b><br />
                        <!-- /ko -->
                        <span class="name" data-bind="text: reportedWUC"></span><br />
                        <span class="name" data-bind="text: reportedWUB"></span><br />
                        <span class="name" data-bind="text: reportedWUD"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: attachmentDate"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: detachmentDate"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeReporting/detail.js")"></script>
}
