﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Reporting Hierarchy List";
}

<a class="btn btn-success" href="@Url.Action("Create", "EmployeeReporting")">
    <i class="fa fa-plus"></i>
    Create
</a>

<a class="btn btn-primary pull-right" href="@Url.Action("Create", "EmployeeReporting")">
    <i class="fa fa-search"></i>
    Search
</a>

<br /><br />

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 7%; vertical-align: top">SN</th>
                <th style="width: 18%; text-align: center; vertical-align: top">Employee</th>
                <th style="width: 18%; text-align: center; vertical-align: top">Reported To</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Attachment Date</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Detachment Date</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: reportings">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: left">
                    Name: <b><span class="name" data-bind="text: employeeName"></span></b><br/>
                    Company: <span class="name" data-bind="text: employeeWUC"></span><br/>
                    Branch: <span class="name" data-bind="text: employeeWUB"></span><br/>
                    Department: <span class="name" data-bind="text: employeeWUD"></span>
                </td>
                <td style="text-align: left">
                    <!-- ko if: reportedName === null -->
                    <span class="name" data-bind="text: reportedName"></span>
                    <!-- /ko -->
                    <!-- ko if: reportedName != null -->
                    Name: <b><span class="name" data-bind="text: reportedName"></span></b>
                    <!-- /ko -->
                    <span class="name" data-bind="text: reportedWUC"></span><br />
                    <span class="name" data-bind="text: reportedWUB"></span><br />
                    <span class="name" data-bind="text: reportedWUD"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: attachmentDate"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: detachmentDate"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td>
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeReporting/list.js")"></script>
}
