﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Allowance ";
}

<h3>Allowance Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Weight </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Weight" data-bind="value: weight" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks  </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks" ></textarea>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Assigned Appraisal Type</label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options:allEmployeeAssignedAppraisalTypes,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeAssignedAppraisalId"></select>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeAppraisalManage/create.js")"></script>
}



