﻿<div class="form-group">
    <label class="col-sm-3"> Bonus Titles </label>
    <div class="col-sm-8">
        <select class="form-control" data-bind="options: allBonusTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: bonusId"></select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3"> Percentage? </label>
    <div class="col-sm-8">
        <input id="chkPercentage" type="checkbox" name="agree" data-bind="checked: asPercentage">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3"> Weight </label>
    <div class="col-sm-8">
        <input class="form-control" placeholder="Weight" data-bind="value: weight" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Attachment Date </label>
    <div class="col-sm-8">
        <div class="input-group">
            <input id="attachmentDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate, hasfocus:isDatePickerFocus" />
            <span class="input-group-btn">
                <button class="btn btn-warning" type="button" data-bind="click: showAttachmentDate">
                    <i class="fa fa-calendar"></i>
                    (dd-mm-yy)
                </button>
                <button class="btn btn-success" type="button" data-bind="click: resetAttachmentDate">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 btn-toolbar">
        <a class="btn btn-success" href="#" data-bind="click: create">
            <i class="fa fa-plus"></i>
            Create
        </a>
        <a class="btn btn-info" href="#" data-bind="click: reset">
            <i class="fa fa-undo"></i>
            Reset
        </a>
    </div>
</div>



