﻿<div class="form-group">
    <label class="col-sm-3 control-label"> Salary Structure Title </label>
    <div class="col-sm-8">
        <input class="form-control" disabled data-bind="value: salaryStructureTitle" />  
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label"> Allowance Titles </label>
    <div class="col-sm-8">
        <select class="form-control" data-bind="options: allAllowanceTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: allowanceId"></select>
    </div>
</div>
<div class="form-group" style="padding-left: 26%; position: relative">
    <div class="col-sm-10 btn-toolbar">
        <a class="btn btn-success" href="#" data-bind="click: update">
            <i class="fa fa-pencil"></i>
            Update
        </a>
        <a class="btn btn-info" href="#" data-bind="click: reset">
            <i class="fa fa-refresh"></i>
            Reset
        </a>
    </div>
</div>



