﻿<div class="form-group">
    <label class="col-sm-3"> Allowance Titles </label>
    <div class="col-sm-8">
        <select class="form-control" data-bind="options: allAllowanceTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: allowanceId"></select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3">Remark </label>
    <div class="col-sm-8">
        <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 btn-toolbar">
        <a class="btn btn-success" href="#" data-bind="click: create">
            <i class="fa fa-plus"></i>
            Create
        </a>
        <a class="btn btn-info" href="#" data-bind="click: reset">
            <i class="fa fa-refresh"></i>
            Reset
        </a>
    </div>
</div>



