﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Transfer ";
}

<br/><br/>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Employee
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allEmployees,
                                                        optionsText: 'text',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Employee Type
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allEmployeeTypes,
                                                        optionsText: 'text',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeTypeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Work Station Unit
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allWorkStationUnits,
                                                            optionsText: 'text',
                                                            optionsValue: 'id',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: workStationUnitId"></select>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Increment Salary Structure</label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allSalaryIncrements,
                                                        optionsText: 'text',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: incrementSalaryStructureId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Is Approved? </label>
            <div class="col-sm-8">
                <input id="chkPercentage" type="checkbox" name="agree" data-bind="checked: isApproved" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatuses,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeTransfer/create.js")"></script>
}



