﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Transfer Detail";
}

<h3>Employee Transfer Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <input type="hidden" value="@(Model)" id="txtEmployeeTransferId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeTransfer">
                <div class="box-info">
                    <div class="form-group">
                        <label class="col-sm-3">
                            Employee
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: employeeName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">
                            Employee Type
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: employeeType"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">
                            Work Station Unit
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: workStationUnitName" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 

<h3>Log Details</h3>
<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center; vertical-align: top; ">SN</th>
                            <th style="width: 7%; text-align: center; vertical-align: top; ">Employee Name</th>
                            <th style="width: 5%; text-align: center; vertical-align: top; ">Employee Type</th>
                            <th style="width: 17%; text-align: center; vertical-align: top; ">Work Station Unit</th>
                            <th style="width: 12%; text-align: center; vertical-align: top; ">Increment Salary Structure</th>
                            <th style="width: 5%; text-align: center; vertical-align: top; ">Approval State</th>
                            <th style="width: 5%; text-align: center; vertical-align: top; ">Remarks</th>
                            <th style="width: 7%; text-align: center; vertical-align: top; ">Affected By</th>
                            <th style="width: 10%; text-align: center; vertical-align: top; ">Affected DateTime</th>
                            <th style="width: 5%; text-align: center; vertical-align: top; ">Affect Type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: logs">
                        <tr>
                            <td>
                                <span class="name" data-bind="text: $index() + 1"></span>
                            </td>
                            <td style="text-align: left">
                                <span class="name" data-bind="text:employeeName"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text:employeeType"></span>
                            </td>
                            <td style="text-align: left">
                                <span>Company &nbsp;:&nbsp; <span data-bind="text: companyName"></span></span><br>
                                <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branchName"></span></span><br>
                                <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: departmentName"></span></span><br>
                                <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnitName"></span></span><br>
                            </td>
                            <td style="text-align: left">
                                <span> Salary Title &nbsp;:&nbsp;<span class="name" data-bind="text: salaryTitle"></span> </span><br>
                                <span> Increment Basic  &nbsp;:&nbsp;<span class="name" data-bind="text: incrementBasic"></span> </span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: isApproved"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: remarks"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedByName"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedDate"></span>
                            </td>
                            <td>
                                <!-- ko if: logStatus === 0 -->
                                <span class="label label-success">Created</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 1 -->
                                <span class="label label-warning">Updated</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 2 -->
                                <span class="label label-danger">Deleted</span>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeTransfer/detail.js")"></script>
}
