﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Transfer List";
}

<a class="btn btn-success" href="@Url.Action("Create", "EmployeeTransfer")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-primary pull-right" href="@Url.Action("Create", "EmployeeTransfer")">
    <i class="fa fa-search"></i>
    Search
</a>

<br/><br/>
<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th style="width: 5%; vertical-align: top; ">SN</th>
                <th style="width: 10%; text-align: center">Employee Name</th>
                <th style="width: 8%; text-align: center">Employee Type</th>
                <th style="width: 22%; text-align: center; vertical-align: top">Work Station Unit</th> 
                <th style="width: 15%; text-align: center">Increment Salary Structure</th>
                <th style="width: 5%; text-align: center">Approval State</th>
                <th style="width: 10%; text-align: center; vertical-align: top; ">Remarks</th>
                <th style="width: 5%; text-align: center; vertical-align: top; ">Status</th>
                <th style="width: 8%; text-align: center; vertical-align: top; ">Actions</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeTransfers">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: left">
                    <span class="name" data-bind="text:employeeName"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text:employeeType"></span>
                </td>  
               <td style="text-align: left">
                    <span>Company &nbsp;:&nbsp; <span data-bind="text: companyName"></span></span><br>
                    <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branchName"></span></span><br>
                    <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: departmentName"></span></span><br>
                    <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnitName"></span></span><br> 
               </td>   
                <td style="text-align: left">
                    <span> Salary Title &nbsp;:&nbsp;<span class="name" data-bind="text: salaryTitle"></span> </span><br>
                    <span> Increment Basic  &nbsp;:&nbsp;<span class="name" data-bind="text: incrementBasic"></span> </span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: isApproved"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: left">
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
    </table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeTransfer/list.js")"></script>
}
