﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Company";
}

<br /><br />
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value:name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Date Of Creation
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i> </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnDateOfCreation" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                    <span class="input-group-btn">
                        <button id="btnShowDatePickerCreation" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetDatePickerCreation" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Max. 150 characters" data-bind="value:remarks"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: create">
                    <i class="fa fa-plus"></i> Create
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>
@section scripts
{
    <script src="@Url.Content("~/Views/CompanyManage/create.js")"></script>
}


