﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Company Detail";
}

<h3>Company Info.</h3>  
<hr/>
 
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtCompanyId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: company">

                <div class="form-group">
                    <label class="col-sm-3 ">Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text:name"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 ">Address</label>
                    <div class="col-sm-6">
                        <span data-bind="text:address"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 ">Remarks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 ">Date Of Creation </label>
                    <div class="col-sm-6">
                        <span data-bind="text:dateOfCreation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Date Of Closing </label>
                    <div class="col-sm-6">
                        <span data-bind="text:dateOfClosing"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="col-lg-2"></div>
</div>   


<h3>Company Log</h3>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Date Of Creation</th>
                        <th style="text-align: center">Date Of Closing</th>
                        <th style="text-align: center">Address</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead> 

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: name"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfCreation"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfClosing"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: address"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: isClosed-->
                            <span class="label label-danger">Closed</span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
        <script src="@Url.Content("~/Views/CompanyManage/detail.js")"></script>
    }
