﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Company";
}

<br />
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtCompanyId" />
    <div class="box-info">
        <form id="validation-form" class="form-horizontal" action="#">

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Name
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-bind="value:name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Address</label>
                <div class="col-sm-6">
                    <textarea class="form-control"  data-bind="value:address"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Remarks</label>
                <div class="col-sm-6">
                    <textarea class="form-control" data-bind="value:remarks"> </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Date Of Creation 
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnDateOfCreation" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePickerCreation" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePickerCreation" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div> 
              
            <div class="form-group" data-bind="style:{ display : hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3 control-label">
                    Date Of Closing
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnDateOfClosing"  type="text" class="form-control "  data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfClosing" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePickerClosing" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePickerClosing" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button> 
                            <a class="btn btn-info" data-bind="click: removeClosedDateTime">
                                <i class="fa fa-minus"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div> 
            
            <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3">
                    Date Of Closing 
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <a class="btn btn-success" href="#" data-bind="click: setClosedDateTime">
                            <i class="fa fa-plus"></i>
                            Add
                        </a>
                    </div>
                </div>
            </div> 
            
            <div class="form-group">
                <label class="col-sm-3">
                    Status 
                    <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
                </div>
            </div> 
            <br/>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <a class="btn btn-success" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </a>
                        <a class="btn btn-info" data-bind="click: reset">
                            <i class="fa fa-refresh"></i>
                            Reset
                        </a>
                     </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-2"></div>

@section scripts
{
    <script src="@Url.Content("~/Views/CompanyManage/update.js")"></script>
}


