﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Attendance";
}

@section styles
{
   <style type="text/css">
    .navbar h3 {
        color: #f5f5f5;
        margin-top: 14px;
    }

    .input-group {
        width: 110px;
        margin-bottom: 10px;
    }

    .pull-center {
        margin-left: auto;
        margin-right: auto;
    }
</style> 
}    

<br /><br />
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">  Employee </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allEmployee,
                                                        optionsText:'text',
                                                        optionsValue:'value',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeWorkStationUnitId "></select>
            </div>
        </div>  
        <div class="form-group">
            <label class="col-sm-3 control-label"> Date <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i></label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnAttendanceDate" style="width: 218px" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attendanceDate" />
                    <span class="input-group-btn">
                        <button id="btnShowAttendanceDate" class="btn btn-warning" type="button"> <i class="fa fa-calendar"></i>(dd-mm-yy)</button>
                        <button id="btnResetAttendanceDate" class="btn btn-success" type="button"> <i class="fa fa-refresh"></i></button>
                    </span>
                </div>
            </div>
        </div>                       
        <div class="form-group">
            <label class="col-sm-3 control-label">Time</label> 
            <div class="col-sm-6">
                <div class="input-group clockpicker">
                    <input style="width: 322px" type="text" class="form-control" data-bind="value: attendanceTime">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div> 
        </div>    
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Remarks" data-bind="value:remarks"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status<i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i></label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                        optionsText:'name',
                                                        optionsValue:'value',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: create">
                    <i class="fa fa-plus"></i> Create
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>  



@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAttendance/create.js")"></script>
}


