﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Attendance Detail";
}

<h3>Employee Attendance Info.</h3>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeAttenanceId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeAttendance">
                <div class="form-group">
                    <label class="col-sm-3 ">Employee Name</label>
                    <div class="col-sm-6">
                        @*<span data-bind="text:employeeWorkStationUnit"></span>  
                        <label class="col-sm-3 ">Employee Name</label>*@ 
                        <span data-bind="text:employee"></span>  
                        @*<label class="col-sm-3 ">Employee Name</label> 
                        <span data-bind="text:company"></span>  
                        <label class="col-sm-3 ">Employee Name</label> 
                        <span data-bind="text:branch"></span>  
                        <label class="col-sm-3 ">Employee Name</label>
                        <span data-bind="text:department"></span>*@
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-3 ">Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:attendanceDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Time</label>
                    <div class="col-sm-6">
                        <span data-bind="text:attendanceTime"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Remarks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<h3>Employee Attached Training Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Employee Name</th>
                        <th style="text-align: center">Date</th> 
                        <th style="text-align:center">Time</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: employee"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: attendanceDate"></span>
                        </td>  
                        <td>
                            <span class="name" data-bind="text: attendanceTime"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="@Url.Content("~/Views/EmployeeAttendance/detail.js")"></script>
}


