﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Attendance List";
}

<h2>Available Attendance List</h2>

<a class="btn btn-success" href="@Url.Action("Create", "EmployeeAttendance")">
    <i class="fa fa-plus"></i>
    Record Time
</a>    

<a class="btn btn-info pull-right" href="#">
    <i class="fa fa-search"></i>
    Search
</a>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th style="text-align: center">SN</th>
                <th style="text-align: center">Emmployee</th>
                <th style="text-align: center">Attendance Time</th>
                <th style="text-align: center">Date</th>
                <th style="text-align: center">Note</th>  
                <th style="text-align: center">Status</th>   
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
        <!-- ko if: employeeAttendances().length === 0 -->
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr>
                <td colspan="7">
                    No element to show
                </td>
            </tr>
        </tbody>
        <!-- /ko -->
        @**@
        <!-- ko if: employeeAttendances().length > 0 -->
        <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeAttendances">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: employeeName"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: time"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: date"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td> 
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-danger" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: left">
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
        <!-- /ko -->
    </table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAttendance/list.js")"></script>
}
