﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Reference List";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Reference Details</h3>
<hr />


<a class="btn btn-success" href="#" data-bind="click: create">
    <i class="fa fa-plus"></i>
    Create
</a>

<input type="hidden" value="@(Model)" id="txtCandidateId" />

<div class="box-info" data-bind="foreach: references">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        <h3><b><span data-bind="text: referrer"></span></b></h3>
        <h5>
            <b>
                <span data-bind="text: designation"></span>,&nbsp;
                <span data-bind="text: companyOrOrg"></span>
            </b>
        </h5>
        <span data-bind="text: email"></span>,&nbsp;
        <span data-bind="text: contactNo"></span>
        <br />
        <span data-bind="text: address"></span>
    </div>
</div>

@*<div class="col-lg-12" style="margin-bottom: 25px;">
    <div class="dropdown pull-right">
        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a role="menuitem" href="#"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
            <li><a role="menuitem" href="#"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
        </ul>
    </div>
    <h3><b><span>Md. Fahim Alom</span></b></h3>
    <h5><b><span>Ast Manager, Jamal Trades</span></b></h5>
    <span>fahim@gmail.com</span>,<span>&nbsp; +0801719289217</span>
    <br/>
    <span>32 North Bashabo, Dhaka-1214</span>
</div>*@



@section scripts{
    <script src="@Url.Content("~/Views/CandidateReference/listForCandidate.js")"></script>
}
