﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Education Update";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Reference Info.</h3>
<hr />


<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
            </label>
            <div class="col-sm-6">
                <input type="hidden" value="@(Model)" id="txtCandidateReferenceId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Referrer Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="name" data-bind="value: referrer" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Designation
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="job designation" data-bind="value: designation" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Company/Org
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="institution working with" data-bind="value: companyOrOrg" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Contact No.
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="+08" data-bind="value: contactNo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Email
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="name@mail.com" data-bind="value: email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Address </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Address" data-bind="value: address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Relation </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Retail with the person" data-bind="value: relation"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-plus"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateReference/update.js")"></script>
}