﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Salary Structure";
}

@section modals{
    <div id="divSalaryAllowanceCreate" class="modal fade">
        <div class="modal-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Allowance</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryAllowanceCreate', data: salaryAllowanceCreate }"></form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div id="divSalaryBonusCreate" class="modal fade">
        <div class="modal-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Bonus</h4>
            </div>
            <div class="modal-body ">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryBonusCreate', data: salaryBonusCreate }"></form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
}

<h3>Salary Structure Info.</h3>
<hr />
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">Salary Structure Title </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Salary Structure Title" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Basic Salary </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Salary Basic" data-bind="value: basic" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Remark </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"> Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>   


<div class="form-group" >
    <div class="col-sm-5 btn-toolbar">
        <a id="btnAllowance" class="btn btn-success" href="#divSalaryAllowanceCreate">
            <i class="fa fa-plus"></i>
            Create Allowance
        </a>
    </div>
</div>
<div class="col-lg-8">
    <h2>Available Salary Structure Allowance List</h2>
    <div class="col-lg-8">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th style="text-align: center">SN</th>
                    <th style="text-align: center">Allowance Title</th>
                    <th style="text-align: center">Remarks</th>
                    <th style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryStructureAllowances">
                <tr>
                    <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                    <td style="text-align: center" class=" sorting_1">
                        <span class="name" data-bind="text: allowanceTitle"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td style="text-align: center">
                        <a id="btnDeleteAllowance" href="#" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                       @*<a id="btnUpdateAllowance" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"> </i>&nbsp; Update</a>*@  
                    </td>
                </tr>
        </table>
    </div>
</div>  

<div class="col-lg-8" style=" margin-top:20px"> 
    <div class="form-group">
        <div class="col-sm-5 btn-toolbar">
            <a id="btnBonus" class="btn btn-success" href="#divSalaryBonusCreate">
                <i class="fa fa-plus"></i>
                Create Bonus
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <h2>Available Salary Structure Bonus List</h2>
        <div class="col-lg-8">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr role="row">
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Bonus Title</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryStructureBonuses">
                    <tr>
                        <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                        <td style="text-align: left" class=" sorting_1">
                            <span class="name" data-bind="text: bonusTitle"></span>
                        </td>
                        <td style="text-align: left">
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td style="text-align: left">
                            <a href="#" data-bind="click: $root.confirmDeleteBonus"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>

                        </td>
                    </tr>
            </table>
        </div>
        <div class="col-lg-8" style="margin-top: 50px;">
            <a class="btn btn-success" href="#" data-bind="click: create">
                <i class="fa fa-plus"></i>
                Create
            </a>
            <a class="btn btn-info" href="#" data-bind="click: reset">
                <i class="fa fa-undo"></i>
                Reset
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureAllowanceCreate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureBonusCreate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/create.js")"></script>
}



