﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Salary Structure ";
} 

@section modals{  
    
    @*/*Creare Allowance and Bonus*/*@
    <div id="divSalaryAllowanceCreateOnUpdate" class="modal fade">
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Allowance</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryAllowanceCreateOnUpdate', data: salaryAllowanceCreateOnUpdate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div> 

    <div id="divSalaryBonusCreateOnUpdate" class="modal fade">
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Bonus</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryBonusCreateOnUpdate', data: salaryBonusCreateOnUpdate }"></form>
                </div>
            </div>
            <div class="modal-footer" style="border-top: 0">
            </div>
        </div>
    </div>
    
    @*/*Update Allowance and Bonus*/*@  
    <div id="divSalaryAllowanceUpdate" class="modal fade">
        <input type="hidden" value="@(Model)" id="salaryAllowanceId" /> 
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Salary Allowance</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryAllowanceUpdate', data: salaryAllowanceUpdate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>  
    
    <div id="divSalaryBonusUpdate" class="modal fade">
        <input type="hidden" value="@(Model)" id="salaryBonusId" />
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Salary Bonus</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryBonusUpdate', data: salaryBonusUpdate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>
}

<h3>Salary Structure Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="salaryStructureId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Title </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Basic Salary </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value: basic" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Remark </label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>   

<div class="col-md-12">
    <br/><br /><br />
</div>

<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="col-sm-8" style="font-size: large">
            Available Salary Structure Allowance List
        </div>
        <div class="col-sm-2 btn-toolbar">
            <a id="btnCreateAllowance" class="btn btn-success" href="#divSalaryAllowanceCreateOnUpdate">
                <i class="fa fa-plus"></i>
                Create Allowance
            </a>
        </div>
    </div>
    <div class="col-lg-10">
        <hr />
    </div>
    <div class="col-lg-10">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 6%; text-align: center">SN</th>
                    <th style="width: 18%; text-align: center">Salary Structure Title</th>
                    <th style="width: 15%; text-align: center">Allowance Title</th>
                    <th style="width: 15%; text-align: center">Remarks</th>
                    <th style="width: 10%; text-align: center">Status</th>
                    <th style="width: 20%; text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryAllowances">
            <tr>
                <td style="text-align: left" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: salaryStructureTitle"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: allowanceTitle"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: center">
                    <a class="btn btn-info" data-bind="click: $root.updateAllowance"><i class="fa fa-pencil"></i>&nbsp; Update</a>&nbsp;
                    <a class="btn btn-danger" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                </td>
            </tr>
        </table>
    </div>       
</div>  

<div class="col-md-12">
    <br /><br /><br /><br />
</div>

<div class="col-lg-12">
    <div class="col-lg-11">
        <div class="col-sm-9" style="font-size: large">
            Available Salary Structure Bonus List
        </div>
        <div class="col-sm-2 btn-toolbar">
            <a id="btnCreateBonus" class="btn btn-success" href="#divSalaryBonusCreateOnUpdate">
                <i class="fa fa-plus"></i>
                Create Bonus
            </a>
        </div>
    </div>
    <div class="col-lg-10">
        <hr />
    </div>
    <div class="col-lg-10">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 6%; text-align: center">SN</th>
                    <th style="width: 18%; text-align: center">Salary Structure Title</th>
                    <th style="width: 15%; text-align: center">Bonus Title</th>
                    <th style="width: 15%; text-align: center">Remarks</th>
                    <th style="width: 10%; text-align: center">Status</th>
                    <th style="width: 20%; text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryBonuses">
            <tr>
                <td style="text-align: left" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: salaryStructureTitle"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: bonusTitle"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: center">
                    <a class="btn btn-info" data-bind="click: $root.updateBonus"><i class="fa fa-pencil"></i>&nbsp; Update</a>&nbsp;
                    <a class="btn btn-danger" data-bind="click: $root.confirmDeleteBonus"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="col-lg-8" style="margin-top: 50px;">
    <a class="btn btn-success" href="#" data-bind="click: update">
        <i class="fa fa-pencil"></i>
        Update
    </a>
    <a class="btn btn-info" href="#" data-bind="click: reset">
        <i class="fa fa-refresh"></i>
        Reset
    </a>
</div>


@section scripts{  
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureAllowanceCreateOnUpdate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureAllowanceUpdate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureBonusCreateOnUpdate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/Script/Vms/vm.salaryStructureBonusUpdate.js")"></script>
    <script src="@Url.Content("~/Views/SalaryStructureManage/update.js")"></script>
}