﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Bonus Payment Date ";
}

<h3>Bonus Payment Date Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="bonusPaymentDateId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Bonus Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allBonusTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: bonusId"></select>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">Payment Date</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnEstimatedDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: estimatedDate" />
                    <span class="input-group-btn">
                        <button id="btnShowEstimatedDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetEstimatedDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/BonusPaymentDate/update.js")"></script>
}



