﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Promotion List";
}

<a class="btn btn-success" href="@Url.Action("Create", "EmployeePromotion")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-primary pull-right" href="@Url.Action("Create", "EmployeeManage")">
    <i class="fa fa-search"></i>
    Search
</a>

<br /><br />

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 6%; vertical-align: top">SN</th>
                <th style="width: 20%; text-align: center; vertical-align: top">Employee WorkStation Unit</th>
                <th style="width: 20%; text-align: center; vertical-align: top">Workstation Unit</th>
                <th style="width: 8%; text-align: center; vertical-align: top">Employee Type</th>
                <th style="width: 8%; text-align: center; vertical-align: top">Remarks</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Approval State</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: promotions">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: left">
                    <span>Employee &nbsp;:&nbsp; <span data-bind="text: employeeWSUEmployee"></span></span><br>
                    <span>Company &nbsp;:&nbsp; <span data-bind="text: employeeWSUCompany"></span></span><br>
                    <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: employeeWSUBranch"></span></span><br>
                    <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: employeeWSUDepartment"></span></span><br>
                    <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: employeeWSUWorkStationName"></span></span><br>
                </td>
                <td style="text-align: left">
                    <span>Company &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: company"></span></span><br>
                    <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branch"></span></span><br>
                    <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: department"></span></span><br>
                    <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnit"></span></span><br> 
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: employeeType"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: approval"></span>
                </td>
                <td>
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeePromotion/list.js")"></script>
}
