﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee Promotion";
}

@section modals{
    @*<div id="divSalaryAllowanceUpdate" class="modal fade">
        <input type="hidden" value="@(Model)" id="salaryAllowanceId" />
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Salary Allowance</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'employeeSalaryAllowanceUpdate', data: employeeSalaryAllowanceUpdate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>
    <div id="divSalaryBonusUpdate" class="modal fade">
        <input type="hidden" value="@(Model)" id="salaryAllowanceId" />
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Salary Bonus</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'employeeSalaryBonusUpdate', data: employeeSalaryBonusUpdate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>*@
}

<br /><br />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border">
        <div id="upperStack" class="col-lg-12 form-group">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Employee Workstation Unit
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employeeWorkStationUnits,
                                                        optionsText: 'unit',
                                                        optionsValue: 'unitId',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeWorkStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Employee Type
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: employeeTypes,
                                                        optionsText: 'title',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeTypeId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Workstation Unit
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: workStationUnits,
                                                        optionsText: 'fullName',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: workStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Salary Structure
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <select class="form-control" data-bind="options: salaryStructures,
                                                        optionsText: 'text',
                                                        optionsValue: 'id',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: salaryStructureId"></select>
                        <span class="input-group-btn">
                            <a id="btnUpdateSalaryStructure" class="btn btn-info" href="#divUpdateSalaryStructure">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="updateSalaryStack" style="display: none; background-color: whitesmoke; padding-left: 0" class="col-lg-12">
            <div class="col-lg-12">
                <div class="form-group">
                    <br />
                    <label class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-6">
                        <input disabled class="form-control" data-bind="value: employeeSalaryStructureTitle" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Basic Salary</label>
                    <div class="col-sm-6">
                        <input class="form-control" data-bind="value: employeeSalaryStructureBasic" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-bind="options: allEmployeeSalaryStructureStatuses,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeSalaryStructureStatusString"></select>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <br />
                <h4>Allowance List</h4>
            </div>

            <div class="col-lg-12">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 6%; text-align: center; vertical-align: top">SN</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Structure</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Allowance</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Weight</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Percentage</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Status</th>
                            <th style="width: 15%; text-align: center; vertical-align: top">Actions</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryAllowances">
                        <tr>
                            <td style="text-align: center" data-bind="text: $index() + 1"></td>
                            <td style="text-align: center" class=" sorting_1">
                                <span class="name" data-bind="text: allowanceSalaryStructureTitle"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: allowanceTitle"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: weight"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: percentage"></span>
                            </td>
                            <td style="text-align: center">
                                <!-- ko if: status == 0 -->
                                <span class="label label-success" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: status == 1 -->
                                <span class="label label-warning" data-bind="text: statusString"></span>
                                <!-- /ko -->
                            </td>
                            <td style="text-align: center">
                                <div class="dropdown">
                                    <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="width: 5%; padding: 0; min-width: 140px">
                                        <li><a role="menuitem" href="#" data-bind="click: $root.updateAllowance"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                                        <li><a role="menuitem" href="#" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>

            <div class="col-lg-12">
                <br />
                <h4>Bonus List</h4>
            </div>

            <div class="col-lg-12">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 6%; text-align: center; vertical-align: top">SN</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Structure</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Bonus</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Weight</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Percentage</th>
                            <th style="width: 10%; text-align: center; vertical-align: top">Status</th>
                            <th style="width: 15%; text-align: center; vertical-align: top">Actions</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryBonuses">
                        <tr>
                            <td style="text-align: center" data-bind="text: $index() + 1"></td>
                            <td style="text-align: center" class=" sorting_1">
                                <span class="name" data-bind="text: bonusSalaryStructureTitle"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: bonusTitle"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: weight"></span>
                            </td>
                            <td style="text-align: center">
                                <span class="name" data-bind="text: percentage"></span>
                            </td>
                            <td style="text-align: center">
                                <!-- ko if: status == 0 -->
                                <span class="label label-success" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: status == 1 -->
                                <span class="label label-warning" data-bind="text: statusString"></span>
                                <!-- /ko -->
                            </td>
                            <td style="text-align: center">
                                <div class="dropdown">
                                    <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="width: 5%; padding: 0; min-width: 140px">
                                        <li><a role="menuitem" href="#" data-bind="click: $root.updateBonus"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                                        <li><a role="menuitem" href="#" data-bind="click: $root.confirmDeleteBonus"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="col-lg-12">
                <br /><br />
                <a class="btn btn-info" href="#" data-bind="click: updateSalaryStructure">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-primary" href="#" data-bind="click: closeSalaryStructure">
                    <i class="fa fa-times"></i>
                    Close
                </a>
            </div>
        </div>

        <div id="lowerStack" class="col-lg-12 form-group">
            <div class="form-group" style="padding-top: 0">
                <label class="col-lg-3 control-label">
                    Remarks
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Approval State
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allApprovals,
                                                        optionsText:'name',
                                                        optionsValue:'value',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: approval "></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="color: red"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6 btn-toolbar">
                    <a class="btn btn-success" data-bind="click: create">
                        <i class="fa fa-plus"></i> Create
                    </a>
                    <a class="btn btn-info" data-bind="click: reset">
                        <i class="fa fa-refresh"></i> Reset
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    @*<script src="@Url.Content("~/Views/EmployeePromotion/Scripts/vm.employeeSalaryStructureAllowanceUpdate.js")"></script>
    <script src="@Url.Content("~/Views/EmployeePromotion/Scripts/vm.employeeSalaryStructureBonusUpdate.js")"></script>*@
    <script src="@Url.Content("~/Views/EmployeePromotion/update.js")"></script>
}