﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Discipline Detail";
}

<h3>Employee Discipline Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeDisciplineId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeDiscipline">
                <div class="form-group">
                    <label class="col-sm-3 ">Employee Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text:employee"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-3 ">Case Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text:title"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<h3>Log Details</h3>
<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <thead>
                    <tr>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">SN</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Employee Name</th> 
                        <th style="width: 10%; text-align: center; vertical-align: top; ">Case Name</th>   
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Created On</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Created By</th>
                        <th style="width: 10%; text-align: center; vertical-align: top; ">Description</th> 
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Action Taken</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Document</th>  
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Remarks</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Status</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Affected By</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Affected DateTime</th>
                        <th style="width: 5%; text-align: center; vertical-align: top; ">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: employee"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: title"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: dateOfCreation"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: department"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: description"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: actionTaken"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: directory"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeDiscipline/detail.js")"></script>
}
