﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Discipline List";
}


<a class="btn btn-success" href="@Url.Action("Create", "EmployeeDiscipline")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-primary pull-right" href="#">
    <i class="fa fa-search"></i>
    Search
</a>

<br/><br/>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th style="width: 6%; text-align: center; vertical-align: top">SN</th>  
                <th style="width: 10%; text-align: center; vertical-align: top">Employee</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Case Name</th>
                <th style="width: 6%; text-align: center; vertical-align: top">Date Of Creation</th> 
                <th style="width: 6%; text-align: center; vertical-align: top">Created By</th> 
                <th style="width: 15%; text-align: center; vertical-align: top">Description</th>  
                <th style="width: 6%; text-align: center; vertical-align: top">Action Taken</th>  
                <th style="width: 6%; text-align: center; vertical-align: top">Related Document</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Remarks</th> 
                <th style="width: 6%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 6%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeDisciplines">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: employee"></span>
                </td> 
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: title"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfCreation"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: department"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: description"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: actionTaken"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: attachmentDirectory"></span>
                </td> 
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->   
                    <!-- ko if: status == 2 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: left">
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
</table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeDiscipline/list.js")"></script>
}
