﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Bonus ";
}

<h3>Bonus Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="bonusId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Title </label>
            <div class="col-sm-8">
                <input class="form-control"  data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Bonus Type </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allBonusTypes,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: bonusTypeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> As Percentage </label>
            <div class="col-sm-8">
                <input type="checkbox" data-bind="checked: asPercentage">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Weight </label>
            <div class="col-sm-8">
                <input class="form-control" data-bind="value: weight" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/Bonus/update.js")"></script>
}



