﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Achievement Log";
}

@*<div class="box-info" style="height: 140px">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtAchievementId" />
        <!--box-info start-->
        <div class="box-info">
            <!--form-horizontal row-border start-->
            <form id="validate-form" action="#" class="form-horizontal" data-bind="with: employee">
                <div class="form-group">
                    <label class="col-sm-3">Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text: name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Email</label>
                    <div class="col-sm-6">
                        <span data-bind="text: email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Contact No</label>
                    <div class="col-sm-6">
                        <span data-bind="text: contact" />
                    </div>
                </div>
            </form>
            <!--form-horizontal row-border end-->
        </div>
        <!--box-info end-->
    </div>
</div>

<div class="col-sm-12" style="padding-left: 0">
    <div id="basicStack" style="height: 600px; overflow-y: auto" class="box-info">
        <h3>Employee Achievement Log</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%;  text-align: center; vertical-align: middle">SN</th>
                        <th style="width: 7%; text-align: center; vertical-align: middle">Title</th>
                        <th style="width: 3%; text-align: center; vertical-align: middle">Remarks</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Appraisal</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Attachment</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected By</th>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Affected DateTime</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: employeeAchievementLogs">
                    <tr>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: title"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: appraisal"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: attachment"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByName"></span>
                        </td>
                        <td style="text-align: center">
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td style="text-align: center">
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>*@


<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<input type="hidden" value="@(Model)" id="txtAchievementId" />

<h3>Achievement Information for <b><span class="name" data-bind="text: employeeName"></span></b></h3>
<hr />

<div class="col-lg-8 box-info" style="padding-top: 0px">
    <div class="box-info" data-bind="foreach: employeeAchievements">
        <div class="box-info" style="background-color: lavender">
            <div class="col-lg-9">
                <h4><b><span class="name" data-bind="text: title"></span></b> in <b><span class="name" data-bind="text: appraisal"></span></b></h4>
                <span class="name" data-bind="text: remarks"></span>
            </div>
            <div class="col-lg-2" style="height: 70px; padding-top: 20px">
                <button class="btn btn-info" data-bind="click: $root.showLog">
                    <i class="fa fa-th"></i>&nbsp; Show Log
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAchievementManage/detail.js")"></script>
}