﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee";
}

<input type="hidden" value="@(Model)" id="txtAchievementId" />

<div class="col-lg-9">
    <h3>Achievement Information of <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
</div>
<div class="col-lg-12">
    <hr>
</div>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Achievement Title
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value:title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:remarks"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Appraisal
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value:employeeAppraisal" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="file">Attachment</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="fileInput" type="file" multiple="" title="" class="form-control" style="padding-left: 0; padding-top: 0">
                    <span class="input-group-btn">
                        <button type="button" id="uploadAchievementFile" class="btn btn-info">
                            <i class="fa fa-upload"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: update">
                    <i class="fa fa-pencil"></i> Update
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAchievementManage/updateIndividual.js")"></script>
}