﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Interview Test";
}

<h3>Interview Test Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="interviewTestId" />
    <div class="box-info">
        <form id="validation-form" class="form-horizontal" action="#">
            <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-8">
                    <input class="form-control" data-bind="value:title"/>
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3 control-label">Total Marks</label>
                <div class="col-sm-8">
                    <input class="form-control" data-bind="value:totalMarks"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3"> Interview Title </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allInterviewTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: interviewId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remarks</label>
                <div class="col-sm-8">
                    <textarea class="form-control" data-bind="value:remarks"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Status </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <a class="btn btn-success" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </a>
                        <a class="btn btn-info" data-bind="click: reset">
                            <i class="fa fa-undo"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-2"></div>

@section scripts
{
    <script src="@Url.Content("~/Views/InterviewTest/update.js")"></script>
}


