﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Salary Structure";
}

@section modals{
    <div id="divEmployeeSalaryAllowanceCreate" class="modal fade">
        <div class="modal-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Employee Salary Allowance</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'employeeSalaryAllowanceCreate', data: employeeSalaryAllowanceCreate }"></form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="divEmployeeSalaryBonusCreate" class="modal fade">
        <div class="modal-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Employee Salary Bonus</h4>
            </div>
            <div class="modal-body ">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'employeeSalaryBonusCreate', data: employeeSalaryBonusCreate }"></form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
}

<h3>Employee Salary Structure Info</h3>
<hr>

<div class="col-lg-2"> </div>
<div class="col-lg-8">
    <div class="box-info">
        <form action="#" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Salary Structure Title
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: salaryStructures,
                                                        optionsText: 'title',
                                                        optionsValue: 'salaryId',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: salaryStructureId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Basic</label>
                <div class="col-sm-8">
                    <input class="form-control" placeholder="Basic" data-bind="value:basic" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Workstation Unit
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: employeeWorkStationUnits,
                                                        optionsText: 'unit',
                                                        optionsValue: 'unitId',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeWorkStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Attachment Date
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePicker" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePicker" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status"></select>
                </div>
            </div>
           </form>
    </div>
</div>
<div class="col-lg-2"> </div>

<div class="col-lg-12">
    <h2>Available Salary Structure Allowance List</h2>
    <div class="form-group">
        <div class="col-sm-5 btn-toolbar">
            <a id="btnAllowance" class="btn btn-success" href="#divEmployeeSalaryAllowanceCreate">
                <i class="fa fa-plus"></i>
                Create Employee Allowance
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th style="text-align: center">SN</th>
                    <th style="text-align: center">Allowance Title</th>
                    <th style="text-align: center">As Percentage</th>
                    <th style="text-align: center">Weight</th>
                    <th style="text-align: center">Attachment Date</th>
                    <th style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeSalaryStructureAllowances">
                <tr>
                    <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                    <td style="text-align: center" class=" sorting_1">
                        <span class="name" data-bind="text: allowanceTitle"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: asPercentage"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: weight"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: attachmentDate"></span>
                    </td>
                    <td style="text-align: center">
                        <a id="btnDeleteAllowance" href="#" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                    </td>
                </tr>
        </table>
    </div>
</div>

<div class="col-lg-12">
    <h2>Available Salary Structure Allowance List</h2>
    <div class="form-group">
        <div class="col-sm-5 btn-toolbar">
            <a id="btnBonus" class="btn btn-success" href="#divEmployeeSalaryBonusCreate">
                <i class="fa fa-plus"></i>
                Create Employee Bonus
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th style="text-align: center">SN</th>
                    <th style="text-align: center">Bonus Title</th>
                    <th style="text-align: center">As Percentage</th>
                    <th style="text-align: center">Weight</th>
                    <th style="text-align: center">Attachment Date</th>
                    <th style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeSalaryStructureBonuses">
                <tr>
                    <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                    <td style="text-align: center" class=" sorting_1">
                        <span class="name" data-bind="text: bonusTitle"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: asPercentage"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: weight"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: attachmentDate"></span>
                    </td>
                    <td style="text-align: center">
                        <a href="#" data-bind="click: $root.confirmDeleteBonus"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                    </td>
                </tr>
        </table>
    </div>
    <div class="col-lg-8" style="margin-top: 50px;">
        <a class="btn btn-success" href="#" data-bind="click: create">
            <i class="fa fa-plus"></i>
            Create
        </a>
        <a class="btn btn-info" href="#" data-bind="click: reset">
            <i class="fa fa-undo"></i>
            Reset
        </a>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeSalaryStructureManage/Scripts/Vms/vm.employeeSalaryAllowanceCreate.js")"></script>
    <script src="@Url.Content("~/Views/EmployeeSalaryStructureManage/Scripts/Vms/vm.employeeSalaryBonusCreate.js")"></script>
    <script src="@Url.Content("~/Views/EmployeeSalaryStructureManage/create.js")"></script>
}
