﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Salary Structure Detail";
}

<h3>Employee Salary Structure Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="employeeSalaryStructureId" />
        <form id="validate-form" class="form-horizontal" action="#" data-bind="with: employeeSalaryStructure">
            <div class="form-group">
                <label class="col-sm-3">Structure For </label>
                <div class="col-sm-6">
                    <span data-bind="text: structureTitle" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Employee Name </label>
                <div class="col-sm-6">
                    <span data-bind="text: employeeName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Basic </label>
                <div class="col-sm-6">
                    <span data-bind="text: basic" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Company </label>
                <div class="col-sm-6">
                    <span data-bind="text: companyName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Branch
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: branchName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Department
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: departmentName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Attachment Date
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: attachmentDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Detachment Date </label>
                <div class="col-sm-6">
                    <span data-bind="text: detachmentDate" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">SN</th>
                            <th style="text-align: center">Structure For</th> 
                            <th style="text-align: center">Basic</th>
                            <th style="text-align: center">Work Station</th>
                            <th style="text-align: center">Attachment Date</th>
                            <th style="text-align: center">detachment Date</th> 
                            <th style="text-align: center">Status</th>
                            <th style="text-align: center">Affected By</th>
                            <th style="text-align: center">Affected DateTime</th>
                            <th style="text-align: center">Affect Type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: logs">
                        <tr>
                            <td>
                                <span class="name" data-bind="text: $index() + 1"></span>
                            </td> 
                            <td>
                                <span class="name" data-bind="text: structureTitle"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: basic"></span>
                            </td>
                            <td>
                                @*<span>Employee &nbsp;:&nbsp;<span data-bind="text: employeeName"></span></span><br>*@ 
                                <span>Company &nbsp;:&nbsp;<span data-bind="text: companyName"></span></span><br>
                                <span>Branch &nbsp;:&nbsp;<span data-bind="text: branchName"></span></span><br>
                                <span>Depaertment &nbsp;:&nbsp;<span data-bind="text: departmentName"></span></span><br>
                            </td>
                            <td>
                                <span class="name" data-bind="text: attachmentDate"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: detachmentDate"></span>
                            </td>  
                            <td>
                                <!-- ko if: status == 0 -->
                                <span class="label label-success" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: status == 1 -->
                                <span class="label label-warning" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: isDetached-->
                                <span class="label label-danger">Detached</span>
                                <!-- /ko -->
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedByName"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedDate"></span>
                            </td>
                            <td>
                                <!-- ko if: logStatus === 0 -->
                                <span class="label label-success">Created</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 1 -->
                                <span class="label label-warning">Updated</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 2 -->
                                <span class="label label-danger">Deleted</span>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeSalaryStructureManage/detail.js")"></script>
}