﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee Salary Structure";
}

<h3>Employee Salary Structure Info</h3>
<hr>

<div class="col-lg-2">

</div>
<div class="col-lg-8">
    <div class="box-info">
        <input type="hidden" value="@(Model)" id="employeeSalaryStructureId" />
        <form action="#" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Salary Structure For
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: salaryStructures,
                                                        optionsText: 'title',
                                                        optionsValue: 'salaryId',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: salaryStructureId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Basic</label>
                <div class="col-sm-8">
                    <input class="form-control" placeholder="Basic" data-bind="value:basic" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Workstation Unit
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: employeeWorkStationUnits,
                                                        optionsText: 'unit',
                                                        optionsValue: 'unitId',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: employeeWorkStationUnitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> Attachment Date</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnAttachmentDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate" />
                        <span class="input-group-btn">
                            <button id="btnShowDatePicker" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetDatePicker" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="style:{ display : hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3 control-label">Detachment Date </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="btnDetachmentDate" type="text" class="form-control " data-date-format="dd-mm-yyyy" data-bind="datepicker: detachmentDate" />
                        <span class="input-group-btn">
                            <button id="btnShowClosing" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetClosing" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <a class="btn btn-info" data-bind="click: removeClosedDateTime">
                                <i class="fa fa-minus"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
                <label class="col-sm-3">Detachment Date </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <a class="btn btn-success" href="#" data-bind="click: setClosedDateTime">
                            <i class="fa fa-plus"></i>
                            Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                </label>
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText: 'name',
                                                        optionsValue: 'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="button" data-bind="click: update">
                            <i class="fa fa-pencil"></i>
                            Update
                        </button>
                        <a class="btn btn-info" href="#" data-bind="click: reset">
                            <i class="fa fa-undo"></i>
                            Reset
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeSalaryStructureManage/update.js")"></script>
}
