﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Training ";
}

<h3>Employee Training Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="employeeTrainingBudgetId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Training Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allTrainingTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeTrainingId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Description </label>
            <div class="col-sm-8">
                <input class="form-control" data-bind="value: description" />
            </div>
        </div>
       <div class="form-group">
            <label class="col-sm-3 control-label"> Total Amount </label>
            <div class="col-sm-8">
                <input class="form-control" data-bind="value: totalAmount" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Is Approved? </label>
            <div class="col-sm-8">
                <input id="chkPercentage" type="checkbox" name="agree" data-bind="checked: isApproved" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" data-bind="value: remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeTrainingBudgetManage/update.js")"></script>
}



