﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Training ";
}

<h3>Employee Training Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Title </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Training Title" data-bind="value: title" />
            </div>
        </div>   
        <div class="form-group">
            <label class="col-sm-3 control-label"> Description </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Description" data-bind="value: description" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Organized By </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Organizer" data-bind="value: organizer" />
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label"> Place </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Venue" data-bind="value: venue" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Trainer </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Trainer" data-bind="value: trainer" />
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label"> Is Approved? </label>
            <div class="col-sm-8">
                <input id="chkPercentage" type="checkbox" name="agree" data-bind="checked: isApproved"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks" ></textarea>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">From Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnFromDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: fromDate" />
                    <span class="input-group-btn">
                        <button id="btnShowFromDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetFromDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">TO Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnToDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: toDate" />
                    <span class="input-group-btn">
                        <button id="btnShowToDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            (dd-mm-yy)
                        </button>
                        <button id="btnResetToDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
       <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeTrainingManage/create.js")"></script>
}



