﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Training Detail";
}

<h3>Employee Training Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="employeeTrainingId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeTraining">
                <div class="form-group">
                    <label class="col-sm-3 ">Training Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:title"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Description</label>
                    <div class="col-sm-6">
                        <span data-bind="text:description"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Organization</label>
                    <div class="col-sm-6">
                        <span data-bind="text:organizer"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-3 ">Training Place</label>
                    <div class="col-sm-6">
                        <span data-bind="text:venue"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-3 ">Training Under</label>
                    <div class="col-sm-6">
                        <span data-bind="text:trainer"></span>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-sm-3 ">Training Start Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:fromDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Training end Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:toDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Comments</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>   

<h3>Employee Training Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Title</th>
                        <th style="text-align: center">Description</th>
                        <th style="text-align: center">Organization</th>
                        <th style="text-align: center">Venue</th> 
                        <th style="text-align: center">Trainer</th>
                        <th style="text-align: center">Is Approved</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">From Date</th>
                        <th style="text-align: center">To Date</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: title"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text:description"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text:organizer"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text:venue"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text:trainer"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text:isApproved"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: fromDate"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: toDate"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeTrainingManage/detail.js")"></script>
}
