﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Manpower Vacancy Notice Candidate Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />


<input type="hidden" value="@(Model)" id="txtCandidateReferenceId" />

<div class="box-info" style="height: 600px; overflow-y: auto">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%; vertical-align: top">SN</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Notice Candidate Track No</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Vacancy Notice</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Candidate</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Referrer</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Remarks</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected By</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: manpowerCandidateReferenceLogs">
                <tr>
                    <td>
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: noticeCandidateTrackNo"></span>
                    </td>
                    <td style="text-align: left">
                        Track No: <span class="name" data-bind="text: noticeTrackNo"></span><br />
                        Title: <span class="name" data-bind="text: noticeTitle"></span><br />
                        Vacancy: <span class="name" data-bind="text: noticeVacancy"></span>
                    </td>
                    <td style="text-align: left">
                        Track No: <span class="name" data-bind="text: candidateTrackNo" style="text-align: left"></span><br />
                        Name: <span class="name" data-bind="text: candidateName" style="text-align: left"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: employeeTrackNo" style="text-align: left"></span><br />
                        <span class="name" data-bind="text: employeeName" style="text-align: left"></span><br />
                    </td>
                    <td>
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/ManpowerCandidateReference/detail.js")"></script>
}
