﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Manpower Candidate Reference List";
}

<h3>Available Manpower Candidate References</h3>
<hr />

@*<a class="btn btn-info pull-right" href="@Url.Action("Create", "EmployeeManage")">
        <i class="fa fa-search"></i>
        Search
    </a>*@

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 5%; vertical-align: top">SN</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Notice Candidate Track No</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Vacancy Notice</th>
                <th style="width: 20%; text-align: center; vertical-align: top">Candidate</th>
                <th style="width: 20%; text-align: center; vertical-align: top">Referrer</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: manpowerCandidateReferences">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: noticeCandidateTrackNo"></span>
                </td>
                <td style="text-align: left">
                    Track No: <span class="name" data-bind="text: noticeTrackNo"></span><br />
                    Title: <span class="name" data-bind="text: noticeTitle"></span><br />
                    Vacancy: <span class="name" data-bind="text: noticeVacancy"></span>
                </td>
                <td style="text-align: left">
                    Track No: <span class="name" data-bind="text: candidateTrackNo" style="text-align: left"></span><br />
                    Name: <span class="name" data-bind="text: candidateName" style="text-align: left"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: employeeTrackNo" style="text-align: left"></span><br />
                    <span class="name" data-bind="text: employeeName" style="text-align: left"></span><br />
                </td>
                <td>
                    <span class="name" data-bind="text: remarks"></span>
                </td>
                <td>
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>


@section scripts{
    <script src="@Url.Content("~/Views/ManpowerCandidateReference/list.js")"></script>
}
