﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Payroll Info Log";
}

<input type="hidden" value="@(Model)" id="txtPayrollId" />

<br /><br />

<div class="box-info">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;  text-align: center; vertical-align: top">SN</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Employee</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Bank</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Bank Details</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Account No</th>
                    <th style="width: 8%; text-align: center; vertical-align: top">TIN</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                    <th style="width: 8%; text-align: center; vertical-align: top">Affected By</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: payrollInfoLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: left">
                        <span class="name" data-bind="text: employeeName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: bankName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: bankDetails"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: accountNo"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: tin"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeePayrollInfo/detail.js")"></script>
}
