﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee Payroll Info";
}

<input type="hidden" value="@(Model)" id="txtPayrollId" />

<br /><br />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Employee
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" readonly="" data-bind="value: employeeName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Bank Name
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Bank Name" data-bind="value: bankName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Bank Details
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Details" data-bind="value: bankDetails" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Account No.
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="" data-bind="value: accountNo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                TIN
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="" data-bind="value: tin" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Remarks
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Remarks" data-bind="value:remarks"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatuses,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: update">
                    <i class="fa fa-pencil"></i> Update
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeePayrollInfo/update.js")"></script>
}