﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Interview Coordinator ";
}

<h3>Interview Coordinator Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtInterviewCoordinatorId" /> 
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Employee Name </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allEmployees,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Interview Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allInterviewTitles,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: interviewId"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/InterviewCoordinator/update.js")"></script>
}



