﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee";
}

<div class="col-lg-9">
    <h3>Membership Info. for <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-12">
    <hr>
</div>

<input type="hidden" value="@(Model)" id="txtEmployeeId" />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form class="form-horizontal row-border" action="http://canvaskite.com/marketplace/atom/js/dropzone/upload.php">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Organization
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value:organization">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:description"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Membership Type</label>
            <div class="col-sm-6">
                <input class="form-control" data-bind="value:type" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Remarks
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:remarks"> </textarea>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Status
                <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: status "></select>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" data-bind="click: create">
                    <i class="fa fa-plus"></i> Create
                </a>
                <a class="btn btn-info" data-bind="click: reset">
                    <i class="fa fa-refresh"></i> Reset
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeMembershipManage/create.js")"></script>
}


