﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Membership";
}

<div class="col-lg-9">
    <h3>Membership Information of <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-12">
    <hr>
</div>

<div class="col-lg-12 box-info">
    <button id="btnAddMembership" class="btn btn-success" data-bind="click: showToCreate">
        <i class="fa fa-plus"></i>
        Add Membership
    </button>
</div>

<input type="hidden" value="@(Model)" id="txtEmployeeId" />

<div class="col-lg-8 box-info" style="padding-top: 0px">
    <div class="box-info" data-bind="foreach: employeeMemberships">
        <div class="box-info" style="background-color: lavender">
            <div class="col-lg-9">
                <h4><b><span class="name" data-bind="text: organization"></span></b></h4>
                <b><span class="name" data-bind="text: description"></span></b>
                <br/>
                <span class="name" data-bind="text: type"></span>
            </div>
            <div class="col-lg-3" style="padding-top: 20px; padding-left: 50px; height: 70px">
                <div class="dropdown">
                    <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="width: 5%">
                        <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                        <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeMembershipManage/update.js")"></script>
}


