﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Manpower Requisition Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<h3>Manpower Requisition Info</h3>
<hr>

<div class="box-info">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtRequisitionId" />
        <!--box-info start-->
        <div class="box-info">
            <!--form-horizontal row-border start-->
            <form id="validate-form" action="#" class="form-horizontal" data-bind="with: manpowerRequisition">
                <!--form-group start-->
                <div class="form-group">
                    <label class="col-sm-3">
                        Title
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: title"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        Position
                    </label>
                    <div class="col-sm-6">
                        <span data-bind="text: position"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        Number
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span data-bind="text: number"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<h3>Manpower Requisition Log</h3>
<hr />

<div class="box-info" style="height: 600px; overflow-y: auto">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;  text-align: center; vertical-align: middle">SN</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Track No</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Title</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Position</th>
                    <th style="width: 3%; text-align: center; vertical-align: middle">Number</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Description</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Date Of Creation</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Deadline</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Approved</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected By</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: manpowerRequisitionLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: trackNo"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: title"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: position"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: number"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: description"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: dateOfCreation"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: deadline"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: approvalState"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/ManpowerRequisition/detail.js")"></script>
}
