﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Manpower Requisition List";
}

<h3>Available Manpower Requisitions</h3>
<hr />

<a class="btn btn-success" href="@Url.Action("Create", "ManpowerRequisition")">
    <i class="fa fa-plus"></i>
    Create
</a>
<br /><br />

@*<a class="btn btn-info pull-right" href="@Url.Action("Create", "EmployeeManage")">
        <i class="fa fa-search"></i>
        Search
    </a>*@

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 5%; vertical-align: top">SN</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Track No</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Title</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Position</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Number</th>
                <th style="width: 15%; text-align: center; vertical-align: top">Description</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Date Of Creation</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Deadline</th>
                <th style="width: 10%; text-align: center; vertical-align: top">Approval State</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                <th style="width: 5%; text-align: center; vertical-align: top">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: manpowerRequisitions">
            <tr>
                <td>
                    <span class="name" data-bind="text: $index() + 1"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: trackNo"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: title"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: position"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: number"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: description"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: dateOfCreation"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: deadline"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: approvalState"></span>
                </td>
                <td>
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td>
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 5%">
                            <li><a role="menuitem" href="#" data-bind="click: $root.showDetail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 30px"></div>


@section scripts{
    <script src="@Url.Content("~/Views/ManpowerRequisition/list.js")"></script>
}
