﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee";
}

<div class="col-lg-9">
    <h3>Educational Info. for <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
    <h3>
        <button id="btnAdditional" class="btn btn-info" data-bind="click: goAchievement, visible: btnVisibility">
            <i class="fa fa-trophy">
            </i>&nbsp;&nbsp; Achievement Info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
        </button>
    </h3>
</div>
<div class="col-lg-12">
    <hr>
</div>

<input type="hidden" value="@(Model)" id="txtEmployeeId"/>

<div class="col-lg-2"></div>
<div id="educationStack" class="col-lg-8">
    <div class="box-info">
        <form class="form-horizontal row-border" action="http://canvaskite.com/marketplace/atom/js/dropzone/upload.php">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Degree Title
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value:degreeTitle">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Institution
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value:institution">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    From
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnFromDate" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yy" data-bind="datepicker: durationFromDate" />
                        <span class="input-group-btn">
                            <button id="btnShowFromDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetFromDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    To
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="btnToDate" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yy" data-bind="datepicker: durationToDate" />
                        <span class="input-group-btn">
                            <button id="btnShowToDate" class="btn btn-warning" type="button">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button id="btnResetToDate" class="btn btn-success" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Result
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value:result" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Major
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" data-bind="value: major" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Max. 150 characters" data-bind="value:educationRemarks"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="file">
                    Image
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="fileInput" type="file" multiple="" title="" class="form-control" style="padding-left: 0; padding-top: 0">
                        <span class="input-group-btn">
                            <button type="button" id="uploadEducationImage" class="btn btn-info">
                                <i class="fa fa-upload"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allEducationStatuses,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: educationStatus "></select>
                </div>
            </div>
            <br />
            <div class="form-group" style=" border-width: thick; border-color: black">
                <label class="col-sm-3 control-label">
                </label>
                <div class="col-sm-6">
                    <button class="btn btn-success" type="button" data-bind="click: create">
                        <i class="fa fa-plus"></i>
                        Create
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" type="button" data-bind="click: reset">
                        <i class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeEducationManage/create.js")"></script>
}