﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Education Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<h3>Log for <b><span class="name" data-bind="text: degreeTitle"></span></b></h3>
<hr>

<input type="hidden" value="@(Model)" id="txtEmployeeEducationId" />

<div style="height: 400px; overflow-y: auto" class="box-info">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;  text-align: center; vertical-align: middle">SN</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Title</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Institution</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">From</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">To</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Result</th>
                    <th style="width: 8%; text-align: center; vertical-align: middle">Major</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Remarks</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Attachment</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Status</th>
                    <th style="width: 8%; text-align: center; vertical-align: middle">Affected By</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: middle">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: employeeEducationLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: title"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: institution"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: durationFromDate"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: durationToDate"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: result"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: major"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: attachmentDirectory"></span>
                    </td>
                    <td>
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td>
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeEducationManage/detailIndividual.js")"></script>
}
