﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Education Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<input type="hidden" value="@(Model)" id="txtEmployeeEducationId" />

<h3>Educational Information for <b><span class="name" data-bind="text: employeeName"></span></b></h3>
<hr />

<div class="col-lg-8 box-info" style="padding-top: 0px">
    <div class="box-info" data-bind="foreach: employeeEducations">
        <div class="box-info" style="background-color: lavender">
            <div class="col-lg-9">
                <h4><b><span class="name" data-bind="text: title"></span></b> in <span class="name" data-bind="text: major"></span></h4>
                <b><span class="name" data-bind="text: institution"></span></b>
                <br />
                Class of <span class="name" data-bind="text: toDate"></span>
            </div>
            <div class="col-lg-2" style="height: 70px; padding-top: 20px">
                <button class="btn btn-info" data-bind="click: $root.showLog">
                    <i class="fa fa-th"></i>&nbsp; Show Log
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeEducationManage/detail.js")"></script>
}
