﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee";
}

<input type="hidden" value="@(Model)" id="txtEducationId" />

<div class="col-lg-9">
    <h3>Educational Information of <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
</div>
<div class="col-lg-12">
    <hr>
</div>

<div class="col-lg-2"></div>
<div id="educationStack" class="col-lg-8">
    <div class="box-info">
        <form class="form-horizontal row-border" action="http://canvaskite.com/marketplace/atom/js/dropzone/upload.php">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Degree Title
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Title" data-bind="value:degreeTitle">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Institution
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Institute" data-bind="value:institution">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    From
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationFromDate, hasFocus: isFromDatepickerFocused" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="button" data-bind="click: showFromDatepicker">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: resetFromDatepicker">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    To
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: durationToDate, hasFocus: isToDatepickerFocused" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="button" data-bind="click: showToDatepicker">
                                <i class="fa fa-calendar"></i>
                                (dd-mm-yy)
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: resetToDatepicker">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Result
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="GPA/CGPA" data-bind="value:result" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Major
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Major" data-bind="value: major" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Remarks" data-bind="value:educationRemarks"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="file">
                    Image
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="fileInput" type="file" multiple="" title="" class="form-control" style="padding-left: 0; padding-top: 0">
                        <span class="input-group-btn">
                            <button type="button" id="uploadEducationImage" class="btn btn-info">
                                <i class="fa fa-upload"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                    <i class="fa fa-adjust fa-asterisk" style="vertical-align: middle; color: red; font-size: xx-small"></i>
                </label>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: allEducationStatuses,
                                                        optionsText:'name',
                                                        optionsValue:'name',
                                                        optionsCaption: '--- Please Select ---',
                                                        value: educationStatus "></select>
                </div>
            </div>
            <br />
            <div class="form-group" style=" border-width: thick; border-color: black">
                <label class="col-sm-3 control-label">
                </label>
                <div class="col-sm-6">
                    <button class="btn btn-success" type="button" data-bind="click: update">
                        <i class="fa fa-pencil"></i>
                        Update
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" type="button" data-bind="click: reset">
                        <i class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeEducationManage/updateIndividual.js")"></script>
}