﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee";
}

<input type="hidden" value="@(Model)" id="txtEmployeeId" />

<div class="col-lg-9">
    <h3>Educational Information of <b><span class="name" data-bind="text: employeeName"></span></b></h3>
</div>
<div class="col-lg-3">
    <h3>
        <button id="btnAdditional" class="btn btn-info" data-bind="click: goAchievement">
            <i class="fa fa-trophy"></i>&nbsp;&nbsp; Update Achievement Info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
        </button>
    </h3>
</div>
<div class="col-lg-12">
    <hr>
</div>

<div class="col-lg-12 box-info">
    <button id="btnAddEducation" class="btn btn-success" data-bind="click: showToCreate">
        <i class="fa fa-plus"></i>
        Add Education
    </button>
</div>

<div class="col-lg-8 box-info" style="padding-top: 0px">
    <div class="box-info" data-bind="foreach: employeeEducations">
        <div class="box-info" style="background-color: lavender">
            <div class="col-lg-9">
                <h4><b><span class="name" data-bind="text: title"></span></b> in <span class="name" data-bind="text: major"></span></h4>
                <b><span class="name" data-bind="text: institution"></span></b>
                <br />
                Class of <span class="name" data-bind="text: toDate"></span>
            </div>
            <div class="col-lg-3" style="padding-top: 20px; padding-left: 50px; height: 70px">
                <div class="dropdown">
                    <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="width: 5%">
                        <li><a role="menuitem" href="#" data-bind="click: $root.showToEdit"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                        <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                    </ul>
                </div>     
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeEducationManage/update.js")"></script>
}