﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Training Attachment Detail";
}

<h3>Employee Training Attachment Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtEmployeeTrainingAttachmentId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeTrainingAttachment">
                <div class="form-group">
                    <label class="col-sm-3 ">Attachment Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:title"></span>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-sm-3 ">Attachment Directory</label>
                    <div class="col-sm-6">
                        <span data-bind="text:directory"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">Training Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:trainingTitle"></span>
                    </div>
                </div> 
               <div class="form-group">
                    <label class="col-sm-3 ">Comments</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<h3>Employee Training Attachment Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th> 
                        <th style="text-align: center">Attachment Title</th>
                        <th style="text-align: center">Attachment Directory</th>
                        <th style="text-align: center">Training Title</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span style="text-align: center" class="name" data-bind="text: $index() + 1"></span>
                        </td> 
                        <td>
                            <span style="text-align: left" class="name" data-bind="text: title"></span>
                        </td>
                        <td>
                            <span style="text-align: left" class="name" data-bind="text:directory"></span>
                        </td>
                        <td>
                            <span style="text-align: left" class="name" data-bind="text: trainingTitle"></span>
                        </td>
                        <td>
                            <span style="text-align: left" class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeTrainingAttachmentManage/detail.js")"></script>
}
