﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Employment List";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Employment Detail</h3>
<hr />


<a class="btn btn-success" href="#" data-bind="click: create">
    <i class="fa fa-plus"></i>
    Create
</a>

<input type="hidden" value="@(Model)" id="txtCandidateId" />
<div class="box-info" data-bind="foreach: employments">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        <h3><b><span class="name" data-bind="text: designation"></span></b></h3>
        <h4><span data-bind="text: institution"></span></h4>
        <span data-bind="text: durationFromDate"></span> - <span data-bind="text: durationToDate"></span> <span class="name">&nbsp;(9 months, need to fix)</span>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/CandidateEmployment/listForCandidate.js")"></script>
}
