﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Salary Payment for Employee ";
}

<h3>Salary Payment Info.</h3>
<hr /> 

@section modals{
    <div id="divSalaryPaymentAllowanceCreate" class="modal fade">
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Payment Allowance</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryPaymentAllowanceCreate', data: salaryPaymentAllowanceCreate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>  
    <div id="divSalaryPaymentBonusCreate" class="modal fade">
        <div class="modal-container" style="position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Salary Payment Bonus</h4>
            </div>
            <div class="modal-body" style="left: 10%">
                <div class="col-lg-8">
                    <form action="#" class="form-horizontal" data-bind="template: { name: 'salaryPaymentBonusCreate', data: salaryPaymentBonusCreate }"></form>
                </div>
                <div class="modal-footer" style="border-top: 0">
                </div>
            </div>
        </div>
    </div>     
}


 
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtEmployeeWorkStationUnitId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Track No </label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Track No" data-bind="value: trackNo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Employee Salary Structure </label>
            <div class="col-sm-6">
                <select disabled class="form-control" data-bind="options: allEmployeeSalaryStructure,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeSalaryStructureId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Payment Date</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="btnDateOfPayment" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfPayment" />
                    <span class="input-group-btn">
                        <button id="showDateOfPayment" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar "> dd-mm-yyyy</i>
                        </button>
                        <button id="resetDateOfPayment" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Employee Payroll Info </label>
            <div class="col-sm-6">
                <select disabled class="form-control" data-bind="options: allPayrollInfo,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeePayrollInfoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Total </label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Total" data-bind="value: totalInAmount"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div> 



@*Salary Payment Allowance List*@ 
<div class="col-lg-12">
    <h2>Available Salary Payment Allowance List</h2>
    <div class="form-group">
        <div class="col-sm-5 btn-toolbar">
            <a id="btnAllowance" class="btn btn-success" href="#divSalaryPaymentAllowanceCreate">
                <i class="fa fa-plus"></i>
                Create Allowance Payment
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th style="text-align: center">SN</th>
                    <th style="text-align: center">Employee Salary Structure Allowance</th>
                    <th style="text-align: center">Amount</th>
                    @*<th style="text-align: center">Actions</th>*@
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryPaymentAllowances">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: salaryTitleAllowance"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: InAmount"></span>
                </td>
                @*<td style="text-align: center">
                    <a id="btnDeleteAllowance" href="#" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                </td>*@
            </tr>
        </table>
    </div>
</div> 

@*Salary Payment Bonus List*@  
<div class="col-lg-12">
    <h2>Available Salary Payment Bonus List</h2>
    <div class="form-group">
        <div class="col-sm-5 btn-toolbar">
            <a id="btnBonus" class="btn btn-success" href="#divSalaryPaymentBonusCreate">
                <i class="fa fa-plus"></i>
                Create Bonus Payment
            </a>
        </div> 
    </div>
    <div class="col-lg-8">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th style="text-align: center">SN</th>
                    <th style="text-align: center">Employee Salary Structure Bonus</th>
                    <th style="text-align: center">Amount</th>
                    @*<th style="text-align: center">Actions</th>*@
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: salaryPaymentBonuses">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: center" class=" sorting_1">
                    <span class="name" data-bind="text: salaryTitleBonus"></span>
                </td>
                <td style="text-align: left">
                    <span class="name" data-bind="text: InAmount"></span>
                </td>
                @*<td style="text-align: center">
                            <a id="btnDeleteAllowance" href="#" data-bind="click: $root.confirmDeleteAllowance"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a>
                        </td>*@
            </tr>
        </table> 
    </div>
    <div class="col-lg-8" style="margin-top: 50px;">
        <a class="btn btn-success" href="#" data-bind="click: create">
            <i class="fa fa-plus"></i>
            Create
        </a>
        <a class="btn btn-info" href="#" data-bind="click: reset">
            <i class="fa fa-undo"></i>
            Reset
        </a>
    </div>   
</div> 


@section scripts{
    <script src="@Url.Content("~/Views/EmployeeSalaryPayment/createSalaryPayment.js")"></script>
    <script src="@Url.Content("~/Views/EmployeeSalaryPayment/Script/Vms/vm.salaryPaymentAllowanceCreate.js")"></script> 
    <script src="@Url.Content("~/Views/EmployeeSalaryPayment/Script/Vms/vm.salaryPaymentBonusCreate.js")"></script> 
}