﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Create Skill";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Skill Info.</h3>
<hr />


<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
            </label>
            <div class="col-sm-6">
                <input type="hidden" value="@(Model)" id="txtCandidateId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Title
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="skill name" data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Description
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="some detail" data-bind="value: description" ></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3">
                Type
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: acceptableTypes,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: type"></select>
            </div>
        </div>
              
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateSkill/createForCandidate.js")"></script>
}
