﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Skills List";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}


<a class="btn btn-success" href="#" data-bind="click: create">
    <i class="fa fa-plus"></i>
    Create
</a>

<input type="hidden" value="@(Model)" id="txtCandidateId" />

<h3>Professional Skills</h3>
<hr />
<div class="box-info" data-bind="foreach: professionalSkills">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        <h3><b><span class="name" data-bind="text: title"></span></b></h3>
        <h4><span data-bind="text: type"></span></h4>
        <span data-bind="text: description"></span>
    </div>
    <hr style="color: red" />
</div>


<h3>ExtraCurricular Skills</h3>
<hr />
<div class="box-info" data-bind="foreach: extraCurricularSkills">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        <h3><b><span class="name" data-bind="text: title"></span></b></h3>
        <h4><span data-bind="text: type"></span></h4>
        <span data-bind="text: description"></span>
    </div>
    <hr style="color: red" />
</div>


<h3>Interest In Skills</h3>
<hr />
<div class="box-info" data-bind="foreach: interestSkills">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.showToUpdate"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
            </ul>
        </div>
        <h3><b><span class="name" data-bind="text: title"></span></b></h3>
        <h4><span data-bind="text: type"></span></h4>
        <span data-bind="text: description"></span>
    </div>
    <hr style="color: red" />
</div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateSkill/listForCandidate.js")"></script>
}
