﻿@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form action="#" class="login-form-signin">
    <div class="login-logo"><img src="/Assets/images/logo.png"></div>
    <h2 class="login-form-signin-heading">Login Your Account</h2>
    <div class="login-wrap">
        <input type="text" autofocus placeholder="User ID" class="form-control" data-bind="value: loginName">
        <input type="password" placeholder="Password" class="form-control" data-bind="value: password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
            <span class="pull-right">
                <a href="#myModal" data-toggle="modal"> Forgot Password?</a>
            </span>
        </label>
        <button type="submit" class="btn btn-lg btn-primary btn-block" data-bind="click: TryToLogin">Sign in</button>


        <div class="registration">
            <a href="@Url.Action("Index", "CandidateLogin")">Login as Candidate</a>
        </div>
    </div>

</form>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeLogin/login.js")"></script>
}
