﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Allowance ";
}

<h3>Allowance Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Title </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Allowance Title" data-bind="value: title" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> Allowance Type </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allAllowanceTypes,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: allowanceTypeId"></select>
            </div>
        </div> 

        <div class="form-group">
            <label class="col-sm-3 control-label"> As Percentage </label>
            <div class="col-sm-8">
                <input id="chkPercentage" type="checkbox" name="agree"  data-bind="checked: asPercentage"> 
                </div>    
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> Weight </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Weight" data-bind="value: weight" />
            </div> 
        </div>
        
        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/Allowance/create.js")"></script>
}



