﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Create Login";
    Layout = "~/Views/Shared/_LayoutCandidateWithOutLogin.cshtml";
}

<h3>Login Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@(Model)" id="txtCandidateId" />
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
                Login Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="login name" data-bind="value: loginName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Password
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="password" data-bind="value: password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Confirm Password
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="confirmed password" data-bind="value: confirmedPassword" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-check"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateLogin/createForCandidate.js")"></script>
}
