﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Job Applications";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Active Application List</h3>
<hr />

<input type="hidden" value="@(Model)" id="txtCandidateId" />
<div class="box-info" data-bind="foreach: notices">
    <div class="col-lg-12" style="margin-bottom: 25px;">
        <div class="dropdown pull-right">
            <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" href="#" data-bind="click: $root.confirmToRemoveApplication"><i class="fa fa-trash-o"> </i>&nbsp; Remove Application</a></li>
            </ul>
        </div>

        <h3><b><span class="name" data-bind="text: title"></span></b></h3>
        <span style="margin-top: 15px;" data-bind="text: description"></span>
        <br />
        Last Date Of apply&nbsp;:&nbsp;<b><span class="name" data-bind="text: durationToDate"></span></b>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Views/CandidateVacancyNoticeApplicatons/appications.js")"></script>
}