﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Work Station";
}

<br /><br />
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Company
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allCompany,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: companyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Branch
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allBranch,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: branchId"></select>
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Department
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allDepartment,
                                                                            optionsText: 'text',
                                                                            optionsValue: 'value',
                                                                            optionsCaption: '--- Please Select ---',
                                                                            value: departmentId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Parent Wrok Station
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allWrokStation,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: parentWorkStationId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Date Of Creation
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfCreation" />
                    <span class="input-group-btn">
                        <button id="btnShowDatePicker" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar">
                                <small style="font-weight: 2px;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button id="btnResetDatePicker" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>  
        <div class="form-group">
            <label class="col-sm-3 control-label">
                In Charge
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allEmployee,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeIdIncharge"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">
                Status
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: xx-small"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <br />      
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-refresh"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/WorkStationUnitManage/create.js")"></script>
}