﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Work Station Detail";
}

<h3>Work Station Info</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtWorkStationId" />
        <form id="validate-form" class="form-horizontal" action="#">
            <div class="form-group">
                <label class="col-sm-3">
                    Company
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: companyName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Branch
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: branchName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Department
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: departmentName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Parent Wrok Station
                </label>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3">
                            Company
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: parentCompanyName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">
                            Branch
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: parentBranchName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">
                            Department
                        </label>
                        <div class="col-sm-6">
                            <span data-bind="text: parentDepartmentName" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Date Of Creation
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: dateOfCreation" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Date Of Closing </label>
                <div class="col-sm-6">
                    <span data-bind="text: dateOfClosing" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Remark </label>
                <div class="col-sm-6">
                    <span data-bind="text: remarks" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    Status
                </label>
                <div class="col-sm-6">
                    <span data-bind="text: status" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-2"></div>    
</div>

<h3>Work Station Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:4%">SN</th>
                            <th style="width:10%">Work Station</th>
                            <th style="width:10%">Parent</th>
                            <th style="width:8%">Date Of Creation</th>
                            <th style="width:8%">Date Of Closing</th>
                            <th style="width:5%">In Charge</th>
                            <th style="width:5%">Remarks</th>
                            <th style="width:5%">Status</th>
                            <th style="width:5%">Affected By</th>
                            <th style="width:5%">Affected DateTime</th>
                            <th style="width:5%">Affect Type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: logs">
                        <tr>
                            <td>
                                <span class="name" data-bind="text: $index() + 1"></span>
                            </td>
                            <td>
                                <span>Company &nbsp;:&nbsp;<span data-bind="text: companyName"></span></span><br>
                                <span>Branch &nbsp;:&nbsp;<span data-bind="text: branchName"></span></span><br>
                                <span>Depaertment &nbsp;:&nbsp;<span data-bind="text: departmentName"></span></span><br>
                            </td>
                            <td>
                                <span>Company &nbsp;:&nbsp;<span data-bind="text: parentCompanyName"></span></span><br>
                                <span>Branch &nbsp;:&nbsp;<span data-bind="text: parentBranchName"></span></span><br>
                                <span>Depaertment &nbsp;:&nbsp;<span data-bind="text: parentDepartmentName"></span></span><br>
                            </td>
                            <td>
                                <span class="name" data-bind="text: dateOfCreation"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: dateOfClosing"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: inCharge"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: remarks"></span>
                            </td>
                            <td>
                                <!-- ko if: status == 0 -->
                                <span class="label label-success" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: status == 1 -->
                                <span class="label label-warning" data-bind="text: statusString"></span>
                                <!-- /ko -->
                                <!-- ko if: isClosed-->
                                <span class="label label-danger">Closed</span>
                                <!-- /ko -->
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedByName"></span>
                            </td>
                            <td>
                                <span class="name" data-bind="text: affectedDate"></span>
                            </td>
                            <td>
                                <!-- ko if: logStatus === 0 -->
                                <span class="label label-success">Created</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 1 -->
                                <span class="label label-warning">Updated</span>
                                <!-- /ko -->
                                <!-- ko if: logStatus === 2 -->
                                <span class="label label-danger">Deleted</span>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Views/WorkStationUnitManage/detail.js")"></script>
}