﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Create Employee Assigned Appraisal ";
}

<h3>Employee Assigned Appraisal Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#"> 
        <div class="form-group">
            <label class="col-sm-3 control-label"> Type </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Employee Assigned Appraisal Type" data-bind="value: type" />
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-3">Attachment Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnAttachmentDate"type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate" />
                    <span class="input-group-btn">
                        <button id="showAttachmentDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"> <small style="font-weight: 2px;">dd-mm-yyyy</small> </i>
                        </button>
                        <button id="resetAttachmentDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>  
        <div class="form-group">
            <label class="col-sm-3 control-label"> Appraisal Indicator Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allAppraisalIndicatorTitle,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: appraisalIndicatorId"></select>
            </div>
        </div>   
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Work Station Unit  </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allEmployeeWorkStationUnit,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeWorkStationUnitId"></select>
            </div>
        </div> 
       <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks" ></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeAssignedAppraisalManage/create.js")"></script>
}



