﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Assigned Appraisal Detail";
}

<h3>Employee Assigned Appraisal Info.</h3>
<hr />

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="employeeAssignedAppraisalId" />
        <div class="box-info">
            <form id="validation-form" class="form-horizontal" action="#" data-bind="with: employeeAssignedAppraisal">

                <div class="form-group">
                    <label class="col-sm-4 ">Type</label>
                    <div class="col-sm-6">
                        <span data-bind="text:type"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 ">Attachment Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:attachmentDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Detachment Date</label>
                    <div class="col-sm-6">
                        <span data-bind="text:detachmentDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Appraisal Indicator Title</label>
                    <div class="col-sm-6">
                        <span data-bind="text:appraisalIndicatorTitle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Employee Work Station Unit</label>
                    <div class="col-sm-6"> 
                        Workstation Unit : &nbsp;&nbsp;&nbsp;<span data-bind="text: workStationUnitName"></span><br />   
                        Company : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: companyName"></span><br />
                        Branch : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: branchName"></span><br />
                        Department : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: departmentName"></span><br />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 ">Remarks</label>
                    <div class="col-sm-6">
                        <span data-bind="text:remarks"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div> 

<h3>Employee Appraisal Log</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">SN</th>
                        <th style="text-align: center">Type</th>
                        <th style="text-align: center">Appraisal Indicator Title</th>
                        <th style="text-align: center">Employee Work Station Unit</th> 
                        <th style="text-align: center">Attachment Date</th>
                        <th style="text-align: center">Detachment DAte</th>
                        <th style="text-align: center">Remarks</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Affected By</th>
                        <th style="text-align: center">Affected DateTime</th>
                        <th style="text-align: center">Affect Type</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: logs">
                    <tr>
                        <td>
                            <span class="name" data-bind="text: $index() + 1"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: type"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: appraisalIndicatorTitle"></span>
                        </td> 
                        <td>
                            <span class="name" data-bind="text: workStationUnitName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: attachmentDate"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: detachmentDate"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: remarks"></span>
                        </td>
                        <td>
                            <!-- ko if: status == 0 -->
                            <span class="label label-success" data-bind="text: statusString"></span>
                            <!-- /ko -->
                            <!-- ko if: status == 1 -->
                            <span class="label label-warning" data-bind="text: statusString"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedByEmployeeName"></span>
                        </td>
                        <td>
                            <span class="name" data-bind="text: affectedDate"></span>
                        </td>
                        <td>
                            <!-- ko if: logStatus === 0 -->
                            <span class="label label-success">Created</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 1 -->
                            <span class="label label-warning">Updated</span>
                            <!-- /ko -->
                            <!-- ko if: logStatus === 2 -->
                            <span class="label label-danger">Deleted</span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAssignedAppraisalManage/detail.js")"></script>
}


