﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Employee Assigned Appraisal List";
}

<h2>Available Employee Assigned Appraisal List</h2>

<a class="btn btn-success" href="@Url.Action("Create", "EmployeeAssignedAppraisalManage")">
    <i class="fa fa-plus"></i>
    Create
</a>
<a class="btn btn-info pull-right" href="#">
    <i class="fa fa-search"></i>
    Search
</a>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th style="text-align: center">SN</th>
                <th style="text-align: center">Type</th>
                <th style="text-align: center">Remarks</th>
                <th style="text-align: center">Appraisal Indicator Title</th>
                <th style="text-align: center">Employee Work Station Unit Name</th>
                <th style="text-align: center">AttachmentDate</th>
                <th style="text-align: center">DetachmentDate</th>
                <th style="text-align: center">Status</th>
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: employeeAssignedAppraisals">
            <tr>
                <td class="name" style="text-align: center" data-bind="text: $index() + 1"></td>
                <td style="text-align: center">
                    <span class="name" data-bind="text:type"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: remarks"></span>
                </td>  
                <td style="text-align: center">
                    <span class="name" data-bind="text:appraisalIndicatorTitle"></span>
                </td> 
                <td style="text-align: left">
                    <span>Company &nbsp;:&nbsp; <span data-bind="text: company"></span></span><br>
                    <span>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: branch"></span></span><br>
                    <span>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span data-bind="text: department"></span></span><br>
                    <span>Workstation Unit &nbsp;:&nbsp; <span data-bind="text: workStationUnit"></span></span><br>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: attachmentDate"></span>
                </td>
                <td style="text-align: center">
                    <span class="name" data-bind="text: detachmentDate"></span>
                </td>
                
                <td style="text-align: center">
                    <!-- ko if: status == 0 -->
                    <span class="label label-success" data-bind="text: statusString"></span>
                    <!-- /ko -->
                    <!-- ko if: status == 1 -->
                    <span class="label label-warning" data-bind="text: statusString"></span>
                    <!-- /ko -->
                </td>
                <td style="text-align: left">
                    <div class="dropdown">
                        <button id="btnDDL" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" href="#" data-bind="click: $root.detail"><i class="fa fa-eye"></i>&nbsp; Detail</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.update"><i class="fa fa-pencil"></i>&nbsp; Update</a></li>
                            <li><a role="menuitem" href="#" data-bind="click: $root.confirmDelete"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
</table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Views/EmployeeAssignedAppraisalManage/list.js")"></script>
}
