﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Update Employee Assigned Appraisal ";
}

<h3>Employee Assigned Appraisal Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <input type="hidden" value="@Model" id="employeeAssignedAppraisalId">  
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3 control-label"> Type </label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="Employee Assigned Appraisal Type" data-bind="value: type" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Attachment Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnAttachmentDate" type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: attachmentDate" />
                    <span class="input-group-btn">
                        <button id="showAttachmentDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>dd-mm-yyyy
                        </button>
                        <button id="resetAttachmentDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>  
        <div class="form-group" data-bind="style:{ display : hasClosingDate() ? 'block' : 'none' }">
            <label class="col-sm-3 control-label">Detachment Date</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="btnDetachmentDate" type="text" class="form-control " data-date-format="dd-mm-yyyy" data-bind="datepicker: detachmentDate" />
                    <span class="input-group-btn">
                        <button id="showDetachmentDate" class="btn btn-warning" type="button">
                            <i class="fa fa-calendar"></i>
                            dd-mm-yy
                        </button>
                        <button id="resetDetachmentDate" class="btn btn-success" type="button">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <a class="btn btn-info" data-bind="click: removeClosedDateTime">
                            <i class="fa fa-minus"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" data-bind="style: { display: !hasClosingDate() ? 'block' : 'none' }">
            <label class="col-sm-3">Detachment Date </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <a class="btn btn-success" href="#" data-bind="click: setClosedDateTime">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                </div>
            </div>
        </div> 
         
        <div class="form-group">
            <label class="col-sm-3 control-label"> Appraisal Indicator Title </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allAppraisalIndicatorTitle,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: appraisalIndicatorId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Work Station Unit  </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allEmployeeWorkStationUnit,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: employeeWorkStationUnitId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> Remarks </label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="Remarks" data-bind="value: remarks"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">  Status </label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="options: allStatus,
                                                            optionsText: 'name',
                                                            optionsValue: 'name',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-pencil"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/EmployeeAssignedAppraisalManage/update.js")"></script>
}



