﻿@model long

@{
    ViewBag.Title = ViewBag.PageTitle = "Update Candidate";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<h3>Candidate Info.</h3>
<hr />

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form id="validate-form" class="form-horizontal" action="#">
        <div class="form-group">
            <label class="col-sm-3">
            </label>
            <div class="col-sm-6">
                <input type="hidden" value="@(Model)" id="txtCandidateId" />
            </div>
        </div>
        <h4>Basic Info</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3">
                First Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="First Name" data-bind="value: firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Last Name
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Last Name" data-bind="value: lastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Gender
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: acceptableGenders,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: gender"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Date Of Birth
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" readonly="readonly" data-date-format="dd-mm-yyyy" data-bind="datepicker: dateOfBirth, hasFocus: isDatepickerFocused" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-bind="click: showDatepicker">
                            <i class="fa fa-calendar">
                                <small style="font-weight: 2px;">dd-mm-yyyy</small>
                            </i>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="click: resetDatepicker">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Email
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="address@gmail.com" data-bind="value: email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Contact Number
                <i class="fa fa-adjust fa-asterisk" style="color: red; font-size: smaller"></i>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="+10101" data-bind="value: contact" />
            </div>
        </div>
        
        <br/><br/>
        <h4>Personal Info.</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3">
                Fathers Name
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Fathers Name" data-bind="value: fathersName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Mothers Name
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Mothers Name" data-bind="value: mothersName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Marital Status
            </label>
            <div class="col-sm-6">
                <select class="form-control" data-bind="options: acceptableMaritalStatus,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: maritalStatus"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Nationality
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Nationality" data-bind="value: nationality" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                National Id
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="National Id Number" data-bind="value: nationalId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Passport No.
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Passport No" data-bind="value: passportNo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Religion
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="religion" data-bind="value: religion" />
            </div>
        </div>
        
        <br /><br />
        <h4>Address Info.</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3">
                Alternate Email
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Alternate Email" data-bind="value: alternateEmail" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Home Phone
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="+88" data-bind="value: homePhone" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Present Address
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Present Address" data-bind="value: presentAddress"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                DivisionOrState
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Current Division Or State" data-bind="value: divisionOrState" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                City
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Current City" data-bind="value: city" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">
                Permanent Address
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Permanent Address" data-bind="value: permanentAddress"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-6 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: update">
                    <i class="fa fa-plus"></i>
                    Update
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    <i class="fa fa-undo"></i>
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>

@section scripts{
    <script src="@Url.Content("~/Views/Candidate/update.js")"></script>
}
