﻿@{
    ViewBag.Title = ViewBag.PageTitle = "Department Log";
}

<img id="divSpinner" style="display: none;" src="@Url.Content("~/Assets/images/ajax-loader-dashboard.gif")" />

<h3>Department Info</h3>
<hr>

<div class="box-info">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <input type="hidden" value="@(Model)" id="txtDepartmentId" />
            <!--form-horizontal row-border start-->
            <form id="validate-form" action="#" class="form-horizontal" data-bind="with: department">
                <!--form-group start-->
                <div class="form-group">
                    <label class="col-sm-3">Name</label>
                    <div class="col-sm-6">
                        <span data-bind="text: name" />
                    </div>
                </div>
                <!--form-group end-->
                <!--form-group start-->
                <div class="form-group">
                    <label class="col-sm-3">Description</label>
                    <div class="col-sm-6">
                        <span data-bind="text: description"></span>
                    </div>
                </div>
                <!--form-group end-->               
                <!--form-group start-->
                <div class="form-group">
                    <label class="col-sm-3">Date Of Creation </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span data-bind="text: dateOfCreation"></span>
                        </div>
                    </div>
                </div>
                <!--form-group end-->
                <div class="form-group">
                    <label class="col-sm-3">Date Of Closing </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span data-bind="text: dateOfClosing"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Remarks </label>
                    <div class="col-sm-6">
                        <span data-bind="text: remarks" />
                    </div>
                </div>              
            </form>
            <!--form-horizontal row-border end-->
    </div> 
    <div class="col-lg-2"></div>    
</div>

<h3>Department Log</h3>
<hr />
<div class="box-info">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;  text-align: center; vertical-align: top">SN</th>
                    <th style="width: 15%; text-align: center; vertical-align: top">Name</th>
                    <th style="width: 15%; text-align: center; vertical-align: top">Description</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Remarks</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Status</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Date Of Creation</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Date Of Closing</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Affected By</th>
                    <th style="width: 10%; text-align: center; vertical-align: top">Affected DateTime</th>
                    <th style="width: 5%; text-align: center; vertical-align: top">Affect Type</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: departmentLogs">
                <tr>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: $index() + 1"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: name"></span>
                    </td>
                    <td>
                        <span class="name" data-bind="text: description"></span>
                    </td>
                    <td>
                        <span class="name" data-bind="text: remarks"></span>
                    </td>
                    <td style="text-align: center">
                        <!-- ko if: status == 0 -->
                        <span class="label label-success" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: status == 1 -->
                        <span class="label label-warning" data-bind="text: statusString"></span>
                        <!-- /ko -->
                        <!-- ko if: isClosed-->
                        <span class="label label-danger">Closed</span>
                        <!-- /ko -->
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: dateOfCreation"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: dateOfClosing"></span>
                    </td>
                    <td>
                        <span class="name" data-bind="text: affectedByName"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="name" data-bind="text: affectedDate"></span>
                    </td>
                    <td style="text-align: center">
                        <!-- ko if: logStatus === 0 -->
                        <span class="label label-success">Created</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 1 -->
                        <span class="label label-warning">Updated</span>
                        <!-- /ko -->
                        <!-- ko if: logStatus === 2 -->
                        <span class="label label-danger">Deleted</span>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Views/DepartmentManage/detail.js")"></script>
}
